[2015-04-07 20:25] yegor256 opened #1 "proof of concept"
Let's create it and see how it works

[2015-04-08 01:15] yegor256 commented on #1
@rultor deploy

[2015-04-08 01:16] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3208-90773056)

[2015-04-08 01:17] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3208-90773056) (spent 1min)

[code]

[2015-04-08 01:20] yegor256 commented on #1
@rultor deploy

[2015-04-08 01:20] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3208-90773558)

[2015-04-08 01:25] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3208-90773558) (spent 4min)

[code]

[2015-04-08 01:26] yegor256 commented on #1
@rultor deploy

[2015-04-08 01:27] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3208-90774176)

[2015-04-08 01:31] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3208-90774176) (spent 4min)

[code]

[2015-04-08 01:35] yegor256 commented on #1
@rultor deploy

[2015-04-08 01:37] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3208-90775856)

[2015-04-08 01:42] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3208-90775856) (spent 5min)

[code]

[2015-04-08 01:44] yegor256 commented on #1
@rultor deploy

[2015-04-08 01:45] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3208-90777426)

[2015-04-08 01:51] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3208-90777426) (spent 6min)

[code]

[2015-04-08 03:43] yegor256 commented on #1
@rultor deploy

[2015-04-08 03:50] yegor256 commented on #1
@rultor hello

[2015-04-08 03:55] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3208-90795168)

[2015-04-08 03:58] rultor commented on #1
@yegor256 Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-04-08 04:07] yegor256 opened #2 "scss-lint"

[2015-04-08 05:12] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3208-90795168) (spent 1hr)

[code]

[2015-04-08 05:14] yegor256 commented on #1
@rultor deploy

[2015-04-08 05:15] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3208-90804234)

[2015-04-08 05:23] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3208-90804234) (spent 7min)

[code]

[2015-04-08 05:26] yegor256 commented on #1
@rultor deploy

[2015-04-08 05:26] #2 closed

[2015-04-08 05:27] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3208-90806186)

[2015-04-08 05:32] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3208-90806186) (spent 5min)

[code]

[2015-04-08 05:41] yegor256 commented on #1
@rultor deploy

[2015-04-08 05:41] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3208-90807510)

[2015-04-08 05:47] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3208-90807510) (spent 5min)

[code]

[2015-04-08 05:51] yegor256 commented on #1
@rultor deploy

[2015-04-08 05:52] rultor commented on #1
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3208-90808888)

[2015-04-08 05:56] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3208-90808888) (took me 4min)

[2015-04-08 05:57] yegor256 commented on #1
@rultor release, tag is `0.1.0`

[2015-04-08 05:58] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3208-90810483)

[2015-04-08 06:03] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3208-90810483) (spent 4min)

[code]

[2015-04-08 06:28] yegor256 commented on #1
@rultor release, tag is `0.1.0`

[2015-04-08 06:29] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3208-90819074)

[2015-04-08 06:34] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3208-90819074) (spent 4min)

[code]

[2015-04-08 06:38] yegor256 commented on #1
@rultor release, tag is `0.1.0`

[2015-04-08 06:39] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3208-90820622)

[2015-04-08 06:44] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3208-90820622) (spent 5min)

[code]

[2015-04-08 06:48] yegor256 commented on #1
@rultor release, tag is `0.1.0`

[2015-04-08 06:50] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3208-90822287)

[2015-04-08 07:09] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3208-90822287) (took me 5min)

[2015-04-08 07:10] #1 closed

[2015-04-08 07:11] yegor256 opened #3 "rultor release script"

[2015-04-08 07:15] yegor256 commented on #3
@rultor release, tag is `0.1.1`

[2015-04-08 07:16] rultor commented on #3
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3218-90827667)

[2015-04-08 07:23] rultor commented on #3
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3218-90827667) (took me 7min)

[2015-04-08 07:25] #3 closed

[2015-04-09 01:29] yegor256 opened #4 "deploy to bower"

[2015-04-09 05:12] #4 closed

[2015-04-09 05:16] yegor256 opened #5 "tag released versions"

[2015-04-09 05:17] yegor256 commented on #5
@rultor release, tag is `0.2.0`

[2015-04-09 05:17] rultor commented on #5
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3241-91117985)

[2015-04-09 05:27] rultor commented on #5
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3241-91117985) (took me 10min)

[2015-04-09 05:29] #5 closed

[2015-04-09 17:29] yegor256 opened #6 "google analytics"
Let's add it

[2015-04-09 17:42] yegor256 commented on #6
@rultor release, tag is `0.2.1`

[2015-04-09 17:43] rultor commented on #6
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3262-91305059)

[2015-04-09 17:52] rultor commented on #6
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3262-91305059) (took me 9min)

[2015-04-09 18:02] #6 closed

[2015-04-09 18:23] yegor256 opened #7 "more styles"

[2015-04-09 18:23] yegor256 commented on #7
@rultor release, tag is `0.3.0`

[2015-04-09 18:24] rultor commented on #7
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3263-91317973)

[2015-04-09 18:29] rultor commented on #7
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3263-91317973) (took me 6min)

[2015-04-09 18:31] #7 closed

[2015-04-09 20:09] yegor256 opened #8 "release non-versionized CSS file"
Should be possible to use the latest `.min.css`

[2015-04-09 20:12] yegor256 commented on #8
@rultor release, tag is `0.3.1`

[2015-04-09 20:13] rultor commented on #8
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3270-91344837)

[2015-04-09 20:20] rultor commented on #8
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3270-91344837) (took me 7min)

[2015-04-09 21:19] Kyokou opened #9 "Gender Selection Issue"
Change the default selection of gender to "Won't Tell". It's sexist to have "male" be the default and expected option.

Bonus feminist points if you put Female above Male as the 2nd Option.
Bonus LGBTQRSTUV points if you include "Neither", "Both", and "Other" options.

[2015-04-09 22:39] yegor256 commented on #9
@Kyokou thanks for the comment, see d965826

[2015-04-09 22:39] yegor256 commented on #9
@rultor release, tag is `0.3.2`

[2015-04-09 22:39] #8 closed

[2015-04-09 22:40] rultor commented on #9
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3274-91373094)

[2015-04-09 22:50] rultor commented on #9
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3274-91373094) (took me 10min)

[2015-04-09 23:01] #9 closed

[2015-04-09 23:05] Kyokou commented on #9
I made this mostly in jest since you're from San Francisco. But applause nonetheless for treating it as a serious issue. :+1:

Closed.

[2015-04-09 23:14] yegor256 commented on #9
we take these things seriously... in San Francisco :)

[2015-04-09 23:25] Kyokou commented on #9
Well you missed out on the bonus LGBTQRSTUV  points!

You'd be surprised at the number of people who will complain that they are genderfluid and identify themselves as both female and male depending on their mood or the day.

Gender politics aside - I like this repo. Clever idea and it looks to be coming together nicely.

[2015-04-10 03:11] yegor256 commented on #9
@Kyokou thanks for using it :) maybe we should replace this entire dropdown box with something more neutral... any ideas?

[2015-04-10 03:11] Immortalin opened #10 "Feature Request: GUI Builder"
A GUI builder a la [this](http://tutsme-webdesign.info/best-bootstrap-visual-editor/)

[2015-04-10 04:05] Kyokou commented on #9
Cats or Dogs:
Select One
Cats
Dogs

[2015-04-10 04:11] vkeusebio commented on #10
Do we really need such?

[2015-04-10 05:38] yegor256 commented on #10
@Immortalin I don't think such a feature can be in scope of this project...

[2015-04-10 05:39] yegor256 commented on #9
@Kyokou I like the selection, but what is the question? "Your favorite pet"?

[2015-04-10 07:56] jehna opened #11 "Mobile styles / responsiveness"
Now the sample page breaks down in mobile widths (even though there's `<meta name="viewport" content="width=device-width, initial-scale=1.0"/>` tag which indicates that this CSS framework probably should, in the perfect world, be "mobile opitimized").

@yegor256 is this the direction you'd like the framework to be developed to? I can start working on the responsiveness if you think the ideology ma

[2015-04-10 08:06] yegor256 commented on #11
@jehna thanks for your comments. of course, I'd like to make keep it all responsive. please, submit pull requests. but let's do one problem per pull request. the smaller the pull request the better. it will be easier for me to manage them. thanks!

[2015-04-10 09:01] jehna commented on #11
@yegor256 would it make sense if you'd create a branch called `responsive` so I could do pull requests to that branch for each feature?

[2015-04-10 13:56] Immortalin commented on #10
@vkeusebio the title of it did say it is for dummies, or should it be "dummies"? Anyway, @yegor256 it is already quite good in its current state, a GUI builder would be cherry on the icing....

[2015-04-10 13:56] #10 closed

[2015-04-10 16:25] jehna opened #13 "IE9 checkbox is ugly"
The test page's checkbox is small and is not centered on IE9:
![screen shot 2015-04-10 at 19 23 18](https://cloud.githubusercontent.com/assets/2676795/7092040/4754155e-dfb7-11e4-9138-84c9879947be.png)

[2015-04-10 16:26] Kyokou commented on #9
"Cats or Dogs?"

Favorite pet would mean people who like hamsters, snakes, birds, ferrets, gerbils, frogs, lizards, and a variety of other animals would feel left out. Their favorite pet isn't on the list!

"Cats or Dogs?" is merely asking an opinion between two arbitrary choices.

[2015-04-10 17:06] yegor256 commented on #13
@jehna do you know how to fix this?

[2015-04-10 17:06] yegor256 commented on #11
@jehna just send them to the `master`, why not?

[2015-04-10 17:14] yegor256 commented on #9
@Kyokou well, I'm trying to keep this "form" as realistic as possible. It should look like a form for subscription. Would be strange to have such a question on a website subscription page: cats or dogs? :) It should be something more realistic..

[2015-04-10 17:14] jehna commented on #13
@yegor256 no out-of-the-box idea

[2015-04-10 17:16] jehna commented on #11
@yegor256 to have them contained before everything's ready. But I can send them to master if that's fine to you :)

[2015-04-10 17:17] yegor256 commented on #11
@jehna sure, that's fine, let's do them one by one. just make sure each one of them is not breaking anything... I'm actually planning to add some sort of layout testing, like it's done in bootstrap. that will help in the future. but for now let's just try to be attentive

[2015-04-10 17:26] yegor256 opened #15 "automate cross browser testing"
Let's automate cross-browser testing, somehow. Probably one of these platforms can help:

 * http://crossbrowsertesting.com/pricing
 * https://www.browserstack.com/pricing

[2015-04-10 17:36] Kyokou commented on #9
Fair point. How about a niche that also lets you showcase other input types? I like icecream.

What day is the best day to have icecream?
[input form type="date"]

What is your favorite flavor of Neapolitan ice cream?
[Select Your Favorite]
[Chocolate]
[Strawberry]
[Vanilla]

How many servings of icecream do you have per week, on average?
[input form type="num"]

Do you consider yourself an icecre

[2015-04-10 18:34] Kyokou commented on #13
Remove input[type='checkbox'] { margin-top: 8.1px; }

Doesn't seem to break things in Chrome. Fixes IE. Didn't check Firefox, but you can also use a @-moz-document declaration for Firefox if it breaks in Firefox.

[2015-04-10 19:13] yegor256 opened #16 "radio button is missing"
We don't have a radio button in our current layout, let's add it

[2015-04-10 19:14] yegor256 commented on #9
@Kyokou good point about radio button, see https://github.com/yegor256/tacit/issues/16

I like the icecream selector, will do it soon

[2015-04-10 20:22] jehna opened #18 "Old Android stock browser overflows <fieldset> tag"
The Android's old (pre-Chrome) stock browser does not restrict the `<fieldset>` tag to it's parent's boundaries:
![screenshot_2015-04-10-23-15-09](https://cloud.githubusercontent.com/assets/2676795/7096351/0c0fa294-dfd8-11e4-8b93-ab1a57b60322.png)

For discussion see [the StackOverflow thread discussing this bug in various browsers](http://stackoverflow.com/questions/17408815/fieldset-resizes-wron

[2015-04-10 20:23] yegor256 commented on #18
@jehna thanks! any ideas how to fix this?

[2015-04-10 20:28] jehna commented on #18
@yegor256 googling showed no relevant results. But the worst part is that you cannot inspect/debug the Android stock browser (like you can e.g. Chrome). So finding a solution to this would be quite a brute-force task.

Ofc there are better googlers than myself :D

[2015-04-10 23:12] Kyokou opened #21 "Missing 'Disabled' Button"
I suggest having the Reset button be disabled to show styles of a disabled button.

Reasoning:
http://www.nngroup.com/articles/reset-and-cancel-buttons/
15 years later this is still true.

[2015-04-10 23:18] yegor256 commented on #21
@Kyokou makes sense... thanks

[2015-04-11 04:29] albatros2ko opened #22 "Buttons' background is too dark"
Isn't the background color for normal buttons too dark? They look like disabled rather than clickable at first look until you hover your mouse over it.

[2015-04-11 05:24] vkeusebio commented on #21
@Kyokou I'll work on it.

[2015-04-12 18:42] yegor256 commented on #11
@jehna I think we can close this one, as all problems mentioned above are fixed (or reported in separate tickets), right?

[2015-04-12 18:47] jehna commented on #11
@yegor256 yes, a leas the sample page is now good and responsive. If any further issues occur later, we can make separate tickets. Closing this ticket now.

[2015-04-12 18:47] #11 closed

[2015-04-14 04:16] Immortalin opened #25 "A converter tool to convert CMS themes to tacit-like classless CSS frameworks"
Hi, how about a tool to convert CMS themes to tacit-like classless CSS frameworks? CMS e.g. WordPress themes are pretty standard so writing a converter should be quite easy. Furthermore, this would give users more choices and variety when choosing classless CSS frameworks.

[2015-04-14 05:33] vkeusebio commented on #25
That doesn't seems to be within the scope. It might be better if you would make it yourself.

[2015-04-14 05:44] neeravkumar commented on #15
A better choice would be sauce labs, they are free for open source also:

https://saucelabs.com/opensauce/

[2015-04-14 05:46] cvrebert commented on #15
You might be interested in https://github.com/bem/gemini

[2015-04-19 23:55] yegor256 opened #26 "100% height for BODY and HTML"

[2015-04-19 23:58] yegor256 commented on #26
@rultor release, tag is `0.3.6`

[2015-04-19 23:59] rultor commented on #26
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3481-94326808)

[2015-04-20 00:05] rultor commented on #26
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3481-94326808) (took me 5min)

[2015-04-20 00:05] #26 closed

[2015-04-26 16:56] ylecuyer opened #27 "Add compiled file to a dist folder"
When using tacit with bower it would be usefull to have `tacit.min.css` and `tacit.css` in a dist folder

[2015-04-26 22:09] vkeusebio commented on #27
Actually, there is. The reason why `tacit.min.css` is in the root directory is for testing purposes while developing the framework locally in your machine, after every compilation of the SCSS files a `dist` folder will be created containing, for example, `tacit-1.0.0.min.css`.

`tacit.min.css` and `dist/tacit-1.0.0.min.css` are the same but only `tacit.min.css` is used during development and is ig

[2015-04-26 22:40] ylecuyer commented on #27
I think you misunderstood the point. What I want to explain is that one
need to compile the scss files to have the resulting css. It is not
possible to start working with tacit by just cloning the repository.
On 27 Apr 2015 00:09, "Vincent Kyle Eusebio" <notifications@github.com>
wrote:

[2015-04-26 23:23] vkeusebio commented on #27
Oh, sorry I missed your point. Anyway, now that makes sense.

[2015-05-14 05:04] yegor256 commented on #22
@vkeusebio I merged the pull request. this issue seems to be fixed, right?

[2015-05-14 05:04] yegor256 commented on #21
@rultor release, tag is `0.5`

[2015-05-14 05:05] rultor commented on #21
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3770-101913054)

[2015-05-14 05:10] rultor commented on #21
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3770-101913054) (took me 5min)

[2015-05-14 05:12] yegor256 commented on #21
@Kyokou the problem seems to be fixed, please check and close the ticket

[2015-05-14 16:40] #21 closed

[2015-05-29 01:16] yegor256 opened #29 "first and last margins around NAV/UL"

[2015-05-29 01:20] yegor256 commented on #29
@rultor release, tag is `0.5.1`

[2015-05-29 01:21] rultor commented on #29
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3965-106647976)

[2015-05-29 01:25] rultor commented on #29
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3965-106647976) (took me 4min)

[2015-05-29 01:26] #29 closed

[2015-05-29 01:37] yegor256 opened #30 "lists are not indented"

[2015-05-29 01:44] yegor256 commented on #30
@rultor release, tag is `0.5.2`

[2015-05-29 01:45] cvrebert opened #31 "Supported browsers & versions?"
There don't currently seem to be any docs saying which browsers and versions are intended to be supported. Most CSS libraries mention this info; e.g. http://foundation.zurb.com/docs/compatibility.html
Browser support is an important consideration when choosing between CSS libraries.

[2015-05-29 01:45] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3966-106652394)

[2015-05-29 01:50] cvrebert opened #32 "CSS has validation errors"
From http://yegor256.github.io/tacit/ :

Follow the W3C CSS validator link:
![invalid](https://cloud.githubusercontent.com/assets/419884/7874846/3796a4be-056a-11e5-9a75-ce917f5b91a4.png)

[2015-05-29 01:50] rultor commented on #30
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3966-106652394) (took me 5min)

[2015-05-29 01:55] #30 closed

[2015-05-29 05:03] jehna commented on #32
Quick fix: Remove the paragraph stating it is W3C compilant?

[2015-05-29 09:25] vkeusebio commented on #32
Isn't the goal was to keep it W3C compliant?

[2015-05-29 09:48] jehna commented on #32
Just a personal opinion that it is not realistic to think the browsers would behave so good nowdays that it'd be even possible to create a good cross-browser css framework that does not have *any* browser hacks.

For reference, the popular bootstrap framework had [37 errors](https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fmaxcdn.bootstrapcdn.com%2Fbootstrap%2F3.3.4%2Fcss%2Fbootstra

[2015-05-29 15:39] yegor256 commented on #32
@cvrebert thanks for reporting. The goal is to keep it 100% W3C compliant. The problem is that this check is not yet part of our deployment pipeline. I'll try to automate it.

[2015-05-29 15:39] yegor256 commented on #31
@cvrebert make sense, thanks!

[2015-05-29 16:16] yegor256 commented on #16
@rultor release, tag is `0.5.3`

[2015-05-29 16:17] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3972-106861611)

[2015-05-29 16:23] rultor commented on #16
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3972-106861611) (took me 6min)

[2015-05-29 16:24] #16 closed

[2015-05-30 13:12] jehna commented on #32
The current error is the firefox responsive hack, could either fix the firefox browser or look for some other workaround for it

[2015-06-01 19:47] yegor256 commented on #32
@jehna or maybe we can inform W3C validator about it somehow... to suppress its error reporting. If not, would be great to find some workaround, as you suggest

[2015-06-02 06:42] jehna commented on #32
@yegor256 tried the "Vendor Extensions as Warnings" flag but still got the errors :/

[2015-06-04 20:31] #32 closed

[2015-06-04 21:45] yegor256 commented on #27
@rultor release, tag is `0.5.4`

[2015-06-04 21:47] rultor commented on #27
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4062-109064104)

[2015-06-04 21:51] rultor commented on #27
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4062-109064104) (took me 4min)

[2015-06-04 21:53] yegor256 commented on #27
@jehna no good :( https://github.com/yegor256/tacit/tree/0.5.4

[2015-06-04 21:57] jehna commented on #27
@yegor256 ah, the branch was __rultor .. Should've chekout to master before commit.

[2015-09-26 15:01] Evertt opened #37 "Is this still being maintained?"

[2015-09-26 15:06] yegor256 commented on #37
@Evertt of course

[2015-09-30 17:53] vote539 commented on #27
I don't have access to bower/node or any of those fancy command line tools on the server that I have to use (shared host).  I'd really like just a CSS file I can download and drop in.

[2015-10-01 04:37] yegor256 commented on #27
@vote539 of course, it's here: http://yegor256.github.io/tacit/tacit.min.css

[2015-10-18 17:39] #37 closed

[2016-01-02 12:07] henkvantijen commented on #27
Hi Yegor, great stuff. I'd like a NON-minified complete human-editable file ("tacit.css") somewhere. I don't have the ruby/javascript? tools to generate from the sources, but want to tinker a bit with the styles (make smaller font sizes and less space between lines, actually). Editing a minified version is a pita. (I think this is what @vote539 and @ylecuyer asked for too). TIA.

[2016-02-11 04:30] alexjj opened #48 "<pre><code> nesting formatting style suggestion"
The HTML5 docs for [pre](https://www.w3.org/TR/html5/grouping-content.html#the-pre-element) and [code](https://www.w3.org/TR/2011/WD-html5-author-20110809/the-code-element.html) state that when you want block code to not wrap to use `<pre><code> foo </code></pre>`.

However, tacit css (in my opinion) doesn't then format this as expected. If I use `<pre><code>`it's rendered just as pre and (seems t

[2016-02-11 05:00] yegor256 commented on #48
@alexjj thanks for the ticket. can you submit a pull request please?

[2016-02-11 05:43] alexjj commented on #48
I ended up just deleting everything the code block under pre, but now I'm not sure I like that either! hmm... :confused:

[2016-02-16 16:53] debarshri opened #49 "Navbar"
I am wondering is there is easyway I can make clean navbars,

something like

|title| nav1 | nav2 |

Couldnt find a stackoverflow page, so I am asking it here.

[2016-02-16 18:51] yegor256 commented on #49
@debarshri try this (as it's done at the bottom of ):

[code]

[2016-02-17 23:18] debarshri commented on #49
This is so cool. I like it.

[2016-02-17 23:18] #49 closed

[2016-02-18 11:30] debarshri opened #50 "Sticky footer"
Hey Yegor. Sorry spam your issue list.

Do you know if I can make sticky footer. Or footer thats at the bottom of the page.

right now the footer looks a bit weird, I think.

[2016-02-18 17:38] yegor256 commented on #50
@debarshri no, it's not possible with pure HTML5 now. you have to use styles/classes for that. or I'm wrong about HTML5? does it have that tags?

[2016-02-18 23:37] debarshri commented on #50
Im talking about this tag
http://www.w3schools.com/tags/tag_footer.asp

[2016-02-19 00:12] yegor256 commented on #50
@debarshri I see what you need, but I believe that sticking anything to the page is against the philosophy of HTML. an HTML is a document that you can scroll, up and down. nothing should be sticking to the device/screen. see my point?

[2016-02-19 10:04] debarshri commented on #50
May be the footer is always in the end of the page. Not screen. How about
that?

On Fri, Feb 19, 2016 at 1:12 AM, Yegor Bugayenko <notifications@github.com>
wrote:

[2016-02-19 16:29] yegor256 commented on #50
@debarshri it is at the end of the page, if you put it there... or I didn't understand you?

[2016-03-03 02:18] yegor256 opened #51 "font is not for all"
`font` should not be applied to all (`*`). only for `body`

[2016-03-03 02:19] yegor256 commented on #51
@rultor release, tag is `0.5.6`

[2016-03-03 02:20] rultor commented on #51
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7440-191545862)

[2016-03-03 02:23] rultor commented on #51
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7440-191545862) (took me 3min)

[2016-03-03 02:24] #51 closed

[2016-06-03 06:45] #25 closed

[2016-07-19 01:54] yegor256 opened #53 "max-width for INPUT"
Let's add it and set to 100%

[2016-07-19 01:57] yegor256 commented on #53
@rultor release, tag is `0.6.1`

[2016-07-19 01:58] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9075-233510021)

[2016-07-19 02:00] rultor commented on #53
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/9075-233510021) (took me 2min)

[2016-07-19 02:04] #53 closed

[2016-11-11 20:59] MaxPleaner opened #54 "theming, blacklisting, and whitelisting"
A few cool feature requests

- Whitelist certain HTML elements only or define a scope for adding styles. i.e. only nodes in a #tacit tag would be effected.
- Blacklist certain HTML elements so they can have custom styles
- have some format / repo for themes and some argument to switch theme

[2016-11-11 21:09] #54 closed

[2017-02-18 10:54] konsumer commented on #50
Put [this](https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/) in your css.

[2017-03-31 14:47] sobolevn opened #60 "select looks 'lifted'"
Here's what we have now:
<img width="169" alt="2017-03-31 17 46 06" src="https://cloud.githubusercontent.com/assets/4660275/24555477/00f00058-163a-11e7-8a5f-ffd71e4ea9a3.png">

I guess, it should be like that:

[code]

<img width="184" alt="2017-03-31 17 47 19" src="https://cloud.githubusercontent.com/assets/4660275/24555503/1cb7981e-163a-11e7-9969-e686e450380e.png">

I will send a PR in a few hou

[2017-03-31 14:47] 0crat commented on #60
@yegor256 please, pay attention to this issue

[2017-04-12 05:27] smartclash opened #62 "Improper CSS file inclusion technique"
Hi,

I just came across your project and I find it a very good idea. The only problem is that you are violating the *rules* of **GitHub**. As per the github norms, we should directly include the CSS files to our project. But many still didn't obey.

To tackle this issue, GitHub served all the CSS files directly liked with header `Content-Type: text/plain`. So many modern browsers will understand i

[2017-04-12 05:27] 0crat commented on #62
@yegor256 please, pay attention to this issue

[2017-04-18 07:55] yegor256 commented on #60
@sobolevn which browser are you using?

[2017-04-18 08:34] sobolevn commented on #60
Latest Chrome.

[2017-04-18 08:53] yegor256 commented on #60
@sobolevn can you please give a piece of your HTML? I will try to reproduce the problem and fix it. Thanks.

[2017-04-18 09:34] sobolevn commented on #60
[code]

Here's a fiddle: https://jsfiddle.net/zdqw0bpj/

Sorry for the bad issue report in the first place.

[2017-04-19 07:30] yegor256 commented on #60
@sobolevn I wasn't able to reproduce the problem in 5d4da21 Can you please provide full HTML, with `head`?

[2017-04-19 08:40] sobolevn commented on #60
Is the fiddle good enough? https://jsfiddle.net/zdqw0bpj/

For me it looks like that:
<img width="765" alt="2017-04-19 11 40 09" src="https://cloud.githubusercontent.com/assets/4660275/25170967/f92001ec-24f4-11e7-81b9-ca7ef15a24ab.png">

[2017-04-19 08:47] yegor256 commented on #60
@sobolevn I don't see `tacit.css` there

[2017-04-19 10:13] sobolevn commented on #60
It is in "External Resources".
<img width="247" alt="2017-04-19 13 13 08" src="https://cloud.githubusercontent.com/assets/4660275/25175065/05597e40-2502-11e7-9a98-abef7de16061.png">

[2017-04-25 15:24] yegor256 commented on #62
@rultor release, tag is `0.8.1`

[2017-04-25 15:26] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11499-297066987)

[2017-04-25 15:27] rultor commented on #62
@smartclash @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11499-297066987) (spent 1min)

[code]

[2017-04-25 21:04] yegor256 commented on #62
@rultor release, tag is `0.8.1`

[2017-04-25 21:07] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11499-297164528)

[2017-04-25 21:10] rultor commented on #62
@smartclash @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11499-297164528) (spent 2min)

[code]

[2017-04-26 02:06] makoru-hikage commented on #9
Disgusting

[2017-04-26 12:02] smartclash commented on #62
@yegor256  Okay, awesome that you've actually started using RawGit CDN. But still, you are doing some mistakes. Actually, the CDN caches the data for 10years. So, if you make a change, you will not get the changes reflected into the CDN. So, you must include the version tag in the URL so that you get the correct source.

But, while **developing** you can remove the `cdn.rawgit.com to rawgit.com` a

[2017-04-26 14:16] yegor256 commented on #62
@smartclash please, check my changes in d53a8c2 What do you think now?

[2017-04-26 14:35] yegor256 commented on #62
@rultor release, tag is `0.8.1`

[2017-04-26 14:37] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11499-297428436)

[2017-04-26 14:39] rultor commented on #62
@smartclash @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11499-297428436) (spent 2min)

[code]

[2017-04-26 14:43] yegor256 commented on #62
@kt3k can you please help me here? I don't understand why it can't find `grunt`. I don't think I changed anything, except for the `-i` flag for `sudo`

[2017-04-26 15:11] smartclash commented on #62
@yegor256 You are doing terribly wrong. Let me help you by making a PR

[2017-04-27 02:54] kt3k commented on #62
@yegor256
`sudo -i` seems to change the working directory to `root`'s home directory and that caused the problem. `npm install` installs the dependencies in local directory, so maybe dependencies were installed in `root`'s home.

`npm install` should work without `root` privilege, so I guess dropping `sudo` before `npm install` would solve the problem.

[2017-04-27 14:21] yegor256 commented on #62
@rultor release tag is `0.8.1`

[2017-04-27 14:23] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11499-297727946)

[2017-04-27 14:25] rultor commented on #62
@smartclash @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11499-297727946) (spent 2min)

[code]

[2017-04-28 05:25] yegor256 commented on #62
@rultor release tag is `0.8.1`

[2017-04-28 05:26] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11499-297910099)

[2017-04-28 05:30] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11499-297910099) (took me 4min)

[2017-04-28 05:33] yegor256 commented on #62
@kt3k thanks, it worked!

[2017-04-28 05:33] yegor256 commented on #62
@smartclash I didn't understand your comment. Both links you provided are exactly the same :( Can you please explain again?

[2017-04-28 11:27] smartclash commented on #62
@yegor256 Well, no prob. I will make a PR soon for it :)

[2017-04-28 12:02] smartclash commented on #62
@yegor256 Okay, made some PR. check out #64 and #65

[2017-04-29 05:52] yegor256 commented on #62
@smartclash thanks! #64 is not technically correct, since it goes to `gh-pages` #65 has some issues, please see my comments there

[2017-05-26 23:29] jmaister opened #67 "Upload tacit to NPM"

[2017-05-26 23:29] 0crat commented on #67
@yegor256 please, pay attention to this issue

[2017-05-27 09:23] yegor256 commented on #67
@rultor release, tag is `0.9`

[2017-05-27 09:23] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11786-304440498)

[2017-05-27 11:25] rultor commented on #67
@jmaister @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11786-304440498) (spent 2hr)

[code]

[2017-05-29 05:47] yegor256 commented on #67
@rultor release, tag is `0.9`

[2017-05-29 05:48] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11786-304577454)

[2017-05-29 07:49] rultor commented on #67
@jmaister @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11786-304577454) (spent 2hr)

[code]

[2017-05-29 14:07] yegor256 commented on #67
@rultor release, tag is `0.9`

[2017-05-29 14:08] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11786-304669302)

[2017-05-29 14:12] rultor commented on #67
@jmaister @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11786-304669302) (spent 3min)

[code]

[2017-05-29 21:02] yegor256 commented on #67
@rultor release, tag is `0.9`

[2017-05-29 21:03] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11786-304729980)

[2017-05-29 21:09] rultor commented on #67
@jmaister @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11786-304729980) (spent 6min)

[code]

[2017-05-30 07:29] yegor256 commented on #67
@rultor release, tag is `0.9.0`

[2017-05-30 07:30] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11786-304797349)

[2017-05-30 07:32] rultor commented on #67
@jmaister @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11786-304797349) (spent 2min)

[code]

[2017-08-01 15:43] yegor256 opened #68 "body.height should not be 100%"
`body.height` set to 100% make the page not properly aligned vertically when it's longer than the window.

[2017-08-01 15:44] #68 closed

[2017-08-01 15:44] 0crat commented on #68
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-01 15:45] yegor256 opened #69 "margin before H1, H2, etc."
Top margin before headers is absent, but should be there.

[2017-08-01 15:47] #69 closed

[2017-08-01 15:47] 0crat commented on #69
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-01 16:03] yegor256 commented on #67
@rultor release, tag is `0.9.0`

[2017-08-01 16:03] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11786-319416231)

[2017-08-01 16:08] rultor commented on #67
@jmaister @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11786-319416231) (spent 5min)

[code]

[2017-08-01 16:12] yegor256 commented on #67
@rultor release, tag is `0.9.0`

[2017-08-01 16:13] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11786-319419051)

[2017-08-01 16:16] rultor commented on #67
@jmaister @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11786-319419051) (spent 3min)

[code]

[2017-08-01 16:35] yegor256 commented on #67
@rultor release, tag is `0.9.0`

[2017-08-01 16:35] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11786-319425496)

[2017-08-01 16:39] rultor commented on #67
@jmaister @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11786-319425496) (spent 3min)

[code]

[2017-08-01 16:42] yegor256 commented on #67
@rultor release, tag is `0.9.0`

[2017-08-01 16:44] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11786-319427463)

[2017-08-01 16:53] rultor commented on #67
@jmaister @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11786-319427463) (spent 9min)

[code]

[2017-08-01 17:07] yegor256 commented on #67
@rultor release, tag is `0.9.0`

[2017-08-01 17:07] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11786-319434098)

[2017-08-01 17:10] rultor commented on #67
@jmaister @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11786-319434098) (spent 3min)

[code]

[2017-08-01 17:13] yegor256 commented on #67
@rultor release, tag is `0.9.0`

[2017-08-01 17:14] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11786-319435851)

[2017-08-01 17:17] rultor commented on #67
@jmaister @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11786-319435851) (spent 3min)

[code]

[2017-08-01 17:18] yegor256 commented on #67
@rultor release, tag is `0.9.0`

[2017-08-01 17:19] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11786-319437099)

[2017-08-01 17:22] rultor commented on #67
@jmaister @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11786-319437099) (spent 3min)

[code]

[2017-08-01 17:27] yegor256 commented on #67
@rultor release, tag is `0.9.0`

[2017-08-01 17:27] rultor commented on #67
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11786-319439523)

[2017-08-01 17:30] rultor commented on #67
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11786-319439523) (took me 3min)

[2017-08-01 17:32] yegor256 commented on #67
@jmaister it seems to be there: https://www.npmjs.com/package/tacit-css

[2017-08-01 17:36] yegor256 opened #70 "version replacement is broken in .rultor.yml"
After #67. Let's fix it.

[2017-08-01 17:51] yegor256 commented on #70
@rultor release, tag is `1.0.1`

[2017-08-01 17:52] rultor commented on #70
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12554-319446253)

[2017-08-01 17:55] rultor commented on #70
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12554-319446253) (took me 3min)

[2017-08-01 18:39] yegor256 commented on #70
@rultor release, tag is `1.0.2`

[2017-08-01 18:39] rultor commented on #70
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12554-319459545)

[2017-08-01 18:43] rultor commented on #70
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12554-319459545) (took me 3min)

[2017-08-01 18:45] #70 closed

[2017-08-01 18:45] 0crat commented on #70
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-21 11:31] davidspinat opened #71 "Higher font-weight may increase readability"
Awesome project! I really love the approach tacit solves styling.

Unfortunately I have a hard times reading paragraphs and regular text with the currently used font-weight. Maybe it's also just my screen, which is not rendering cutting edge High-Res. However I think, font should be accessible and therefore easy to read.

Using font-weight `400` instead of `300` on regular text really bumped up re

[2017-08-21 11:31] 0crat commented on #71
@yegor256 please, pay attention to this issue

[2017-08-21 11:54] yegor256 commented on #71
@davidspinat I agree, please submit a pull request. And thanks for using Tacit :)

[2017-08-21 17:12] yegor256 commented on #67
@jmaister please, close this ticket if you like the result

[2017-08-23 07:44] yegor256 commented on #71
@rultor release, tag is `1.1.0`

[2017-08-23 07:45] rultor commented on #71
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12763-324248709)

[2017-08-23 07:49] rultor commented on #71
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12763-324248709) (took me 3min)

[2017-08-23 08:05] yegor256 commented on #71
@davidspinat it's fixed and released, see version `1.1.0` Thanks :)

[2017-08-23 13:32] davidspinat commented on #71
@yegor256 thank you! Sorry, I was just not fast enough in providing a PR... 😄

[2017-08-23 13:32] #71 closed

[2017-08-23 13:33] 0crat commented on #71
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-09-17 08:02] #67 closed

[2017-09-17 08:02] 0crat commented on #67
Oops! Job `gh:yegor256/tacit#67` was not in scope

[2017-09-17 08:03] yegor256 commented on #60
@sobolevn please, send a pull request. Thanks!

[2017-09-17 08:04] yegor256 commented on #48
@alexjj what's up with this? Do we still need some changes?

[2017-09-17 13:50] alexjj commented on #48
I ended up rolling my own CSS, as I only needed a few features. I'd say just keep as is unless you or another wants to change it.

[2017-09-17 13:50] #48 closed

[2017-09-17 13:50] 0crat commented on #48
Oops! Job `gh:yegor256/tacit#48` was not in scope

[2017-09-18 05:32] sobolevn opened #72 "Remove ruby deps"
While working on #60 I was forced to install some `ruby` gems.

A lot of webdevs do not use `ruby`. And it is a good practice in `node` community not to use it. All the dependencies are available as `npm` packages:
- you rely on `sass` gem, but is available for `node`: https://github.com/sass/node-sass
- you rely on `scss_lint` gem, but is available for `node`: https://github.com/sasstools/sass-li

[2017-09-18 05:32] 0crat commented on #72
@yegor256 please, pay attention to this issue

[2017-09-18 06:52] yegor256 commented on #72
@sobolevn yes, please, make the necessary changes in the pull request. Thanks!

[2017-10-01 15:20] yegor256 commented on #31
@0crat assign @filfreire

[2017-10-01 15:20] 0crat commented on #31
@yegor256 Job `gh:yegor256/tacit#31` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @filfreire is not a member of this project yet, but can request to join. @filfreire check your [Zerocracy profile](http://www.0crat.com/u/filfreire) and follow the instructions.

[2017-10-01 19:26] filfreire opened #73 "Add CONTRIBUTING.md file"
Add a CONTRIBUTING.md file with contribution guidelines to tacit project.

[2017-10-01 19:55] filfreire opened #74 "Update index.html footer date"
Current: 2015
Proposal: 2015 - 2017

[2017-10-01 20:17] filfreire opened #76 "Add build check for footer date"
The build should check the dates in all files and fail if some of them are expired.

[2017-10-03 10:18] filfreire opened #77 "Chrome specific issues"
Checkbox not inline with label, plus, buttons are not inline as they're in other browsers.
![screen shot 2017-10-03 at 11 13 04](https://user-images.githubusercontent.com/11976836/31120496-85acdd14-a82c-11e7-90ff-9e6ad1b20989.png)

Radio Buttons and labels positions is not properly set, and different from other browsers.
![screen shot 2017-10-03 at 11 12 53](https://user-images.githubusercontent.c

[2017-10-03 10:21] filfreire opened #78 "Firefox specific issues"
WIP - To be defined.

[2017-10-03 10:21] filfreire opened #79 "Safari specific issues"
WIP - To be defined.

[2017-10-03 10:21] filfreire opened #80 "Opera specific issues"
Issues found with elements not being inline and position of the elements for Opera

<img width="898" alt="opera" src="https://user-images.githubusercontent.com/11976836/31242896-756ed2c4-aa00-11e7-8ffc-bfa15713bc9b.png">

[2017-10-03 10:22] filfreire opened #81 "Edge 15 specific issues"
WIP - To be defined.

[2017-10-03 10:22] filfreire opened #82 "Chrome (iOS) specific issues"
WIP - To be defined.

[2017-10-03 10:23] filfreire opened #83 "Safari (iOS) specific issues"
WIP - To be defined.

[2017-10-03 15:48] #74 closed

[2017-10-03 15:48] 0crat commented on #74
Oops! Job `gh:yegor256/tacit#74` was not in scope

[2017-10-03 16:01] filfreire opened #84 "Link Tacit to GitCop"
Link tacit to https://gitcop.com/

[2017-10-03 16:02] filfreire opened #85 "Fix link between tacit and 0crat"
On some projects after creating an issue, 0crat creates an automatic comment:

This isn't happening for tacit

[2017-10-03 16:02] filfreire commented on #85
@yegor256 please, pay attention to this issue

[2017-10-03 16:03] filfreire commented on #84
@yegor256 please, pay attention to this issue

[2017-10-03 18:24] yegor256 commented on #84
@filfreire I tried, but it's something really weird going on inside. Try it yourself. Maybe we can try some other system instead.

[2017-10-03 18:26] yegor256 opened #86 "License into README"
Let's add license to the end of README, like it's done here, for example: https://github.com/yegor256/cactoos#license-mit

[2017-10-03 18:26] 0crat commented on #86
@filfreire please, pay attention to this issue

[2017-10-03 18:27] yegor256 commented on #85
@filfreire this is because you are the ARC (architect) in Tacit and when you create tickets, 0crat doesn't notify you. The default idea is to notify project ARC about all new incoming tickets. I will create a test one and you will see what will happen. See: #86

[2017-10-03 21:46] filfreire commented on #86
@yegor256 implementation done in PR https://github.com/yegor256/tacit/pull/87

[2017-10-03 21:51] filfreire opened #88 "Create a Logo for Tacit"
We need a logo for Tacit, similar to other recent projects like

Cactoos - https://github.com/yegor256/cactoos/blob/master/README.md
ReHTTP - https://github.com/yegor256/rehttp
ThreeCopies - https://github.com/yegor256/threecopies

[2017-10-04 06:46] yegor256 commented on #88
@filfreire totally agree, let's pick one from flaticon: https://www.flaticon.com/ ?

[2017-10-04 06:47] yegor256 commented on #73
@filfreire do we really need this? We already have https://github.com/yegor256/tacit#how-to-contribute section.

[2017-10-04 08:11] filfreire commented on #88
@yegor256 what do you think of these:
https://www.flaticon.com/free-icon/strawberry_579047
https://www.flaticon.com/free-icon/crayon_579603
https://www.flaticon.com/free-icon/vice_579615
https://www.flaticon.com/free-icon/brush_579602

[2017-10-04 08:30] #85 closed

[2017-10-04 08:30] 0crat commented on #85
Oops! Job `gh:yegor256/tacit#85` was not in scope

[2017-10-04 08:30] filfreire commented on #86
@yegor256 we can close this one. Development is done.

[2017-10-04 08:36] filfreire commented on #73
@yegor256 the separate file is a Github guideline https://github.com/blog/1184-contributing-guidelines  (view the image there).

I'd suggest following it because if we do, we get this:

[2017-10-04 11:35] yegor256 commented on #73
@filfreire hm, I didn't know about this. Of course, let's do it.

[2017-10-04 11:36] yegor256 commented on #86
@filfreire thanks!

[2017-10-04 11:36] #86 closed

[2017-10-04 11:36] 0crat commented on #86
Oops! Job `gh:yegor256/tacit#86` was not in scope

[2017-10-04 16:20] yegor256 opened #89 "Convert table to list if the screen is to narrow"
When the table is too wide and the screen is too small it would be better to turn it into a list, I believe. Otherwise, it's not readable. We can just turn `display` from `table-cell` to `block` for all `td` and hide the `thead`. Something like that.

[2017-10-04 16:20] 0crat commented on #89
@filfreire please, pay attention to this issue

[2017-10-04 17:25] yegor256 commented on #88
@filfreire I like the strawberry)

[2017-10-05 06:33] yegor256 opened #91 "validate CSS against W3C validator"
Would be great to validate our CSS through Jigsaw CSS validator: https://jigsaw.w3.org/css-validator/

And we should do that in an automated way, during the build.

BTW, now it's clean: https://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fcdn.rawgit.com%2Fyegor256%2Ftacit%2Fgh-pages%2Ftacit-css.min.css&profile=css3&usermedium=all&warning=1&vextwarning=&lang=en

Maybe we can also add that

[2017-10-05 06:33] 0crat commented on #91
@filfreire please, pay attention to this issue

[2017-10-05 09:13] akshayvinchurkar1 commented on #88
I can create one if you guys like I am designer + front-end developer
give me some ideas tacit is framework without classes right then we can try Pacman face and a dot after then it looks like we eat class .  hows that?

[2017-10-05 09:57] filfreire commented on #84
@yegor256 I tried by myself, it's quite weird.
I changed rules, did commits afterwards, but still get strange commit warnings I did experiments here https://github.com/filfreire/tacit/pull/1

[2017-10-05 10:16] yegor256 commented on #84
@filfreire let's forget this

[2017-10-05 10:51] #84 closed

[2017-10-05 10:51] 0crat commented on #84
Oops! Job `gh:yegor256/tacit#84` was not in scope

[2017-10-05 11:29] akshayvinchurkar1 commented on #88
![tacit](https://user-images.githubusercontent.com/29745555/31225204-9ab13a7a-a9ee-11e7-9e6b-8180e63f63e8.jpg)

[2017-10-05 18:05] filfreire opened #94 "IE 11 specific issues"
Issues found with elements not being inline and position of the elements for Internet Explorer 11
![ie11](https://user-images.githubusercontent.com/11976836/31242762-f7740894-a9ff-11e7-95da-01ebf3d251f6.png)

[2017-10-05 18:42] filfreire commented on #73
@yegor256 we can close this issue after merging PR https://github.com/yegor256/tacit/pull/90 please follow-up

[2017-10-06 19:49] #73 closed

[2017-10-06 19:49] 0crat commented on #73
Oops! Job `gh:yegor256/tacit#73` was not in scope

[2017-10-06 22:50] filfreire opened #97 "Fix tacit CDN link in index.html"
Currently on index.html file, tacit points to a specific version, example:
[code]

The problem is the actual file can only be found currently through this link:
https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css.min.css

[2017-10-07 08:03] filfreire commented on #31
@yegor256 @cvrebert
added compatibility list through PR https://github.com/yegor256/tacit/pull/95
We also have issues in place to solve browser-specific anomalies.

[2017-10-10 07:20] filfreire commented on #97
@akshayvinchurkar1 my mistake, the actual file (with version) can be found with
[code]
Currently it's
[code]

can you make the change on PR https://github.com/yegor256/tacit/pull/98 ?

[2017-10-10 08:10] akshayvinchurkar1 commented on #97
@filfreire sure mate

[2017-10-10 08:44] filfreire commented on #97
@akshayvinchurkar1
all of the following work fine
* `https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.1.1.min.css`
* `https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css.min.css`
* `https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit.min.css`

The one with version `https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-1.1.1.min.css` is generated automatically on release.

So the

[2017-10-10 09:33] akshayvinchurkar1 commented on #97
@filfreire ok mate then closed the issue

[2017-10-10 16:26] filfreire commented on #88
@yegor256 what do you think?

[2017-10-10 19:14] yegor256 commented on #88
@filfreire @akshayvinchurkar1 I like the concept (we are eating the dot), but I don't like the implementation. Can you try again? I don't think we need a text in the logo.

[2017-10-13 03:14] akshayvinchurkar1 commented on #88
@yegor256  @filfreire what you think about this
![tacit](https://user-images.githubusercontent.com/29745555/31528718-b86dddfc-aff2-11e7-91f0-e549c8641ff2.jpg)

[2017-10-13 06:57] yegor256 commented on #88
@akshayvinchurkar1 @filfreire much better! Can we rotate it as it was before, remote the dot, leave only the dash sign, and remove the waves and the gradient. It will be just the yellow circle and the dash. Should be nice)

[2017-10-13 08:38] filfreire opened #99 "Add label hacktoberfest to some issues"
@yegor256 you could add the label hacktoberfest to some issues to be solved in the context of https://hacktoberfest.digitalocean.com/

These are my suggestions:
https://github.com/yegor256/tacit/issues/94
https://github.com/yegor256/tacit/issues/81
https://github.com/yegor256/tacit/issues/80
https://github.com/yegor256/tacit/issues/79
https://github.com/yegor256/tacit/issues/77
https://github.com/

[2017-10-13 11:30] akshayvinchurkar1 commented on #88
@yegor256 ok

[2017-10-13 11:38] akshayvinchurkar1 commented on #88
![tacit](https://user-images.githubusercontent.com/29745555/31544567-0db49cec-b039-11e7-9a08-c59cf48e5819.png)

[2017-10-13 13:39] filfreire commented on #88
@akshayvinchurkar1 seems nice 👍
@yegor256 what do you think?

[2017-10-13 13:56] yegor256 commented on #88
@filfreire @akshayvinchurkar1 like!)

[2017-10-13 14:06] 0crat commented on #72
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:06] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:06] 0crat commented on #77
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:06] 0crat commented on #80
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:06] 0crat commented on #79
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:06] 0crat commented on #81
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:06] 0crat commented on #94
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:06] yegor256 commented on #99
@filfreire I added "help wanted"

[2017-10-13 14:06] #99 closed

[2017-10-13 14:06] 0crat commented on #99
Oops! Job `gh:yegor256/tacit#99` was not in scope

[2017-10-13 14:06] 0crat commented on #99
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 14:26] akshayvinchurkar commented on #88
Ok then lets use it

[2017-10-13 15:09] 0crat commented on #72
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:09] 0crat commented on #77
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:09] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:09] 0crat commented on #79
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:09] 0crat commented on #80
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:09] 0crat commented on #81
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:09] 0crat commented on #94
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:09] 0crat commented on #99
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:10] 0crat commented on #79
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:10] 0crat commented on #80
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:10] 0crat commented on #94
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:11] 0crat commented on #81
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 15:11] 0crat commented on #99
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:11] 0crat commented on #72
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:11] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:11] 0crat commented on #77
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:11] 0crat commented on #79
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:11] 0crat commented on #80
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:11] 0crat commented on #94
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:12] 0crat commented on #81
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 16:12] 0crat commented on #99
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:11] 0crat commented on #72
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:11] 0crat commented on #76
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:11] 0crat commented on #77
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:12] 0crat commented on #79
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:12] 0crat commented on #80
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:12] 0crat commented on #94
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:13] 0crat commented on #81
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-13 17:13] 0crat commented on #99
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-14 06:16] akshayvinchurkar1 commented on #91
issue is still open close it now @yegor256 @filfreire

[2017-10-14 12:36] #72 closed

[2017-10-14 12:36] 0crat commented on #72
Oops! Job `gh:yegor256/tacit#72` was not in scope

[2017-10-15 12:29] filfreire commented on #91
@akshayvinchurkar1 we're still missing the part of doing the validation automatically in the build

[2017-10-15 12:55] filfreire commented on #88
@akshayvinchurkar really nice work 👍
Can you provide an SVG file.

[2017-10-15 13:17] akshayvinchurkar commented on #88
@filfreire oh thank you mate sure 😊

[2017-10-16 03:20] akshayvinchurkar1 commented on #88
[tacit logo.zip](https://github.com/yegor256/tacit/files/1386143/tacit.logo.zip)

GitHub is not supporting SVG file to upload I need to wrap into zip file

[2017-10-16 03:23] akshayvinchurkar1 commented on #50
@konsumer good point

[2017-10-19 19:17] tofran opened #102 "Theming options"
I was just introduced to tacit by @filfreire , it looks amazing, thank you for powering my frontend laziness :laughing:
I immediately realized that there's something missing, so I have a feature request:
There should be an easy way to theme tacit.
I would like to change the colors easily, or even better just include the X theme file and it would change automagically.

[2017-10-19 19:17] 0crat commented on #102
@filfreire please, pay attention to this issue

[2017-10-20 05:28] akshayvinchurkar commented on #102
Ok so this is something like foundation framework they have themes like github bootstrap LinkedIn type sounds cool @tofran

[2017-10-20 07:26] yegor256 commented on #102
@tofran I like the idea! We can just create different CSS files: `tacit-css-1.0`, `tacit-css-steel-1.0`, `tacit-css-bright-1.0`, etc. You either pick the default one of the one with a different theme. /cc @filfreire

[2017-10-20 11:33] yegor256 commented on #102
@tofran or maybe it's better to create new CSS files, which users will link right after the main `tacit-css.css`. I guess, this will be a better approach. The main CSS will define all styles correctly and the theme CSS will alter them to make them look a bit different.

[2017-10-20 19:00] akshayvinchurkar commented on #102
@yegor256 so let's make it

[2017-10-21 16:14] yegor256 commented on #102
@tofran @akshayvinchurkar let's start with the first theme. Let's make it, say, dark :) Do you want me to create the first one, to show an example?

[2017-10-21 17:40] akshayvinchurkar commented on #102
@yegor256 if you create one then we can better understand what you want to customise or what not

[2017-10-22 00:33] tofran commented on #102
@yegor256 @akshayvinchurkar yes that would be great.

[2017-10-22 00:39] filfreire opened #103 "Add support to <aside>"
At PortoCodes:October it was suggested that Tacit could support <aside> default html tag as a way to have a side menu and/or divide page into a grid of 2 columns.

[2017-10-23 02:43] akshayvinchurkar1 commented on #88
@filfreire @yegor256 what is the status of this PR?

[2017-10-23 02:48] akshayvinchurkar1 opened #104 "can we create Example pages."
can we create Example pages like foundation did in their framework [foundation](https://foundation.zurb.com/templates.html)
I mean ordinary pages that every website or web-app required like login and registration page or homepage for app or landing page simple not too complicated in that way users of tacit will better understand how to use tacit

[2017-10-23 02:48] 0crat commented on #104
@filfreire please, pay attention to this issue

[2017-10-23 20:12] #76 closed

[2017-10-23 20:12] 0crat commented on #76
Oops! There is no order for job `gh:yegor256/tacit#76`.

[2017-10-23 20:13] 0crat commented on #76
Oops! Job `gh:yegor256/tacit#76` is not in scope.

[2017-10-23 20:16] filfreire commented on #88
@akshayvinchurkar1 @akshayvinchurkar I'll submit a PR today with the logo.
@yegor256 FYI

[2017-10-23 23:03] tofran commented on #78
Firefox does not break text after input's
![20171024_selection_01](https://user-images.githubusercontent.com/5692603/31917266-732d02e0-b84e-11e7-8dd8-99409c3e1031.png)

[2017-10-24 07:23] filfreire commented on #104
@akshayvinchurkar1 the idea seems nice.
Could you kindly make a small list of example pages you think would be fit to create?

Then afterwards we can decide with @yegor256 which ones make the most sense and create an issue for each one that anyone can contribute.

[2017-10-24 12:00] filfreire commented on #97
PR #98 closes this issue.

[2017-10-24 12:00] #97 closed

[2017-10-24 12:01] filfreire commented on #60
@sobolevn, @yegor256 PR #98 was merged and closes this issue, could you kindly close it?

[2017-10-24 12:02] filfreire commented on #97
@akshayvinchurkar1 thank you!

[2017-10-24 12:03] #60 closed

[2017-10-24 13:19] filfreire commented on #60
@sobolevn thanks for reporting this issue and #72 👍

[2017-10-24 19:05] 0crat commented on #97
Oops! There is no order for job `gh:yegor256/tacit#97`.

[2017-10-24 19:05] 0crat commented on #97
Oops! Job `gh:yegor256/tacit#97` is not in scope.

[2017-10-24 19:06] 0crat commented on #60
Oops! There is no order for job `gh:yegor256/tacit#60`.

[2017-10-24 19:06] 0crat commented on #60
Oops! Job `gh:yegor256/tacit#60` is not in scope.

[2017-10-25 13:45] tofran commented on #104
I also agree, but since tacit is simple, we should keep the examples simple too.
I would recommend the following:

- A simple project page
- Blog page
- Form, like the one in `index.html`
- "About me" page
- Login screen

[2017-10-25 17:02] filfreire opened #109 "Add git commit guideline to CONTRIBUTING.md"
Edit CONTRIBUTING.md to mention the following:
* Every commit/PR should preferably be linked to a Github issue; If it's not, it's recommended to create an Issue first and then commit and open a PR;
* Commit message should follow a given pattern, or at least always mention the `#<issue-number>`

[2017-10-27 16:45] yegor256 opened #110 "sup and sub"
To my knowledge, we don't have any formatting for `<sup>` and `<sub>` elements. Let's fix it please. See https://gist.github.com/unruthless/413930 I believe it should go to `_typography.scss`

[2017-10-27 16:45] 0crat commented on #110
@filfreire please, pay attention to this issue

[2017-10-31 03:33] akshayvinchurkar1 commented on #110
#111  i create the pull request as per your suggestion

[2017-11-01 09:34] filfreire commented on #110
@akshayvinchurkar1 kindly follow-up on the comments that I posted for PR #111.

[2017-11-01 12:44] yegor256 commented on #104
@akshayvinchurkar1 I don't think we need anything aside from the `index.html` we already have. If we need more HTML examples there, let's just add them right there, to that page.

[2017-11-01 12:45] yegor256 commented on #103
@filfreire yes, that would make sense, but not just a grid of two. I think that ASIDE is meant to be a really something _on the side_, like a quote or so. Like here: http://www.yegor256.com/2017/09/19/what-motivates-me.html

[2017-11-03 04:50] akshayvinchurkar1 commented on #104
examples makes life simple as far as i know just add CSS html code and done everyone want free code and style does that make sense @yegor256 @tofran @filfreire

[2017-11-13 09:38] filfreire commented on #110
@akshayvinchurkar1 kindly follow-up on the comments posted on https://github.com/yegor256/tacit/pull/112

[2017-11-17 00:39] 0crat commented on #31
@filfreire this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-17 00:39] 0crat commented on #31
@filfreire resigned from `gh:yegor256/tacit#31`, please stop working.

[2017-11-17 14:37] 0x13a opened #113 "Add section: Built with Tacit"
Would be awesome to see who is using TacitCSS and what kind of websites people built with it.
So this translate into having a section where we list *Built with Tacit*

[2017-11-17 14:37] 0crat commented on #113
@filfreire please, pay attention to this issue

[2017-11-17 15:06] akshayvinchurkar1 commented on #113
@0x13a its great idea but how we know people using it as compare to other frameworks tacit has very small footprint

[2017-11-17 17:35] 0x13a commented on #113
you can start by putting a google form in the readme for example

[2017-11-18 02:46] 0x13a commented on #113
I just used TacitCSS to build my site http://whoismining.com/

[2017-11-18 05:48] akshayvinchurkar1 commented on #113
@0x13a thats great what type of fields you want to expect in a google form?

[2017-11-18 05:49] akshayvinchurkar1 commented on #113
so we can implement

[2017-11-18 21:19] 0x13a commented on #113
website url should be enough. We could also ask if it's used for a side project or in production by a company, but I'd say the url is enough

[2017-11-19 02:18] jraller opened #114 "Color Contrast"
The color contrast for the following elements do not pass the accessibility tests run by [lighthouse](https://developers.google.com/web/tools/lighthouse/):
[code]
New colors can be checked with: https://webaim.org/resources/contrastchecker/ or other tools.

[2017-11-19 02:18] 0crat commented on #114
@filfreire please, pay attention to this issue

[2017-11-19 12:52] filfreire commented on #114
@jraller thank you 👍
Feel free to submit a PR to fix this issue.

[2017-11-19 12:56] filfreire commented on #113
@0x13a I like the idea.
We could close this issue by doing a PR creating this section and list on README, or maybe edit the index page with the same section and list.

@0x13a @akshayvinchurkar1 would you be willing to open a PR with this change?

BTW, After finishing a PR for this we could close this issue and open a separate new issue just to handle the google form part of submitting "my site is

[2017-11-19 13:12] 0x13a commented on #113
ok great

[2017-11-19 13:12] #113 closed

[2017-11-19 13:13] 0crat commented on #113
Oops! There is no order for job `gh:yegor256/tacit#113`.

[2017-11-19 13:13] 0crat commented on #113
Oops! Job `gh:yegor256/tacit#113` is not in scope.

[2017-11-19 17:09] jraller commented on #114
Pull request #116 submitted.

[2017-11-21 02:48] akshayvinchurkar1 commented on #110
#118  will fixed the issue. i just want to ask a question about git if i want to include only commits i choose for pull request how can i do that?

[2017-11-26 20:19] 0crat commented on #31
Job `gh:yegor256/tacit#31` assigned to @filfreire, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-27 12:20] filfreire commented on #114
@jraller PR #116  was merged. Could you kindly close this issue?

[2017-11-27 12:35] filfreire commented on #110
@yegor256 kindly close this issue, it's implemented and released under https://github.com/yegor256/tacit/releases/tag/1.2.0 👍

[2017-11-27 15:44] filfreire commented on #31
@yegor256 kindly close this issue. We have the list. We can add more browsers supported to the list later on, with different issues.

[2017-11-27 16:03] #114 closed

[2017-11-27 16:19] 0crat commented on #114
Oops! There is no order for job `gh:yegor256/tacit#114`.

[2017-11-27 16:19] 0crat commented on #114
Oops! Job `gh:yegor256/tacit#114` is not in scope.

[2017-11-27 17:55] yegor256 commented on #110
@akshayvinchurkar1 @filfreire thanks!

[2017-11-27 17:55] #110 closed

[2017-11-27 17:59] 0crat commented on #110
Oops! There is no order for job `gh:yegor256/tacit#110`.

[2017-11-27 18:00] 0crat commented on #110
Oops! Job `gh:yegor256/tacit#110` is not in scope.

[2017-11-27 20:10] yegor256 commented on #31
@filfreire thanks!

[2017-11-27 20:10] #31 closed

[2017-11-27 20:28] 0crat commented on #31
Job `gh:yegor256/tacit#31` is now out of scope.

[2017-11-27 20:39] 0crat commented on #31
Order was successfully finished: +30 points just awarded to @filfreire, total is [+420](http://www.0crat.com/u/filfreire).

[2017-12-05 20:34] filfreire commented on #88
@yegor256 closing this issue.

@akshayvinchurkar / @akshayvinchurkar1 thank you for the contribution 👍

[2017-12-05 20:34] #88 closed

[2017-12-05 20:36] filfreire opened #124 "Create and add Tacit's favicon to index page"
**Task:** Create and add Tacit's favicon to index page

@yegor256 FYI

[2017-12-05 20:37] filfreire opened #125 "Add Tacit's logo image to the top of index page"
@yegor256 what do you think about this?

[2017-12-05 20:39] filfreire commented on #124
Examples:

1) Cactoos
<img width="262" alt="screen shot 2017-12-05 at 20 38 02" src="https://user-images.githubusercontent.com/11976836/33629517-402b449a-d9fc-11e7-8f8f-6c16d0fa1fb7.png">

2) Porto Testers Meetup
<img width="260" alt="screen shot 2017-12-05 at 20 38 40" src="https://user-images.githubusercontent.com/11976836/33629538-51489976-d9fc-11e7-83bc-3f4e3e5887cf.png">

[2017-12-05 20:48] 0crat commented on #88
Oops! There is no order for job `gh:yegor256/tacit#88`.

[2017-12-05 20:58] 0crat commented on #88
Oops! Job `gh:yegor256/tacit#88` is not in scope.

[2017-12-06 06:47] akshayvinchurkar1 commented on #125
do it

[2017-12-06 06:48] akshayvinchurkar1 commented on #124
use the same logo for favicon just need to convert to ico

[2017-12-06 20:19] filfreire commented on #125
PR #127 was merged. Closing issue.

[2017-12-06 20:19] #125 closed

[2017-12-06 20:20] filfreire commented on #124
PR #126 was merged. Closing issue.

[2017-12-06 20:20] #124 closed

[2017-12-06 20:24] filfreire commented on #125
@rultor release, tag is `1.2.1`

[2017-12-06 20:24] rultor commented on #125
@filfreire OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13544-349763412)

[2017-12-06 20:24] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 20:25] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 20:28] rultor commented on #125
@filfreire Done! FYI, the full log is [here](http://www.rultor.com/t/13544-349763412) (took me 3min)

[2017-12-06 20:28] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 20:28] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-06 20:28] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:28] 0crat commented on #124
Oops! There is no order for job `gh:yegor256/tacit#124`.

[2017-12-07 02:28] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:28] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:28] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:28] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:28] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:28] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:29] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:29] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:29] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:29] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:29] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:29] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:29] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:29] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:29] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:29] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:29] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:30] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:30] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:30] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:30] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:30] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:30] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:30] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:30] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:30] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:30] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:31] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:31] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:31] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:31] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:31] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:31] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:31] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:31] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:31] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:31] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:32] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:32] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:32] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:32] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:32] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:32] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:32] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:32] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:32] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:32] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:33] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:33] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:33] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:33] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:33] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:33] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:33] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:33] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:33] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:33] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:34] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:34] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:34] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:34] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:34] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:34] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:34] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:34] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 02:34] 0crat commented on #124
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 04:28] 0crat commented on #125
Oops! Job `gh:yegor256/tacit#125` is not in scope.

[2017-12-07 04:28] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 04:33] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 04:33] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 04:33] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 04:33] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 04:33] 0crat commented on #125
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 07:55] filfreire opened #128 "Issue loading images on icon and top of index.html"
**(bug)**
There seems to be an issue loading the tacit logo as an icon and on top of index.html page.
When tested locally it seemed to work fine.

Related issues: #124 #125

This happened after release of v.1.2.1

Affects: https://yegor256.github.io/tacit/

**Image:**
![screen shot 2017-12-07 at 07 56 32](https://user-images.githubusercontent.com/11976836/33704388-344367a6-db24-11e7-880b-4f09ad4da

[2017-12-07 16:12] filfreire commented on #128
@rultor release, tag is `1.2.2`

[2017-12-07 16:13] rultor commented on #128
@filfreire OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13549-350015528)

[2017-12-07 16:16] rultor commented on #128
@filfreire Done! FYI, the full log is [here](http://www.rultor.com/t/13549-350015528) (took me 3min)

[2017-12-07 16:24] filfreire commented on #128
Images added to rultor release step. Attempted to fix images paths but failed, re-opening a PR with fix of paths and alt field for logo image on index.html.

[2017-12-07 16:46] filfreire commented on #128
Done, seems OK now. @yegor256 FYI

<img width="673" alt="screen shot 2017-12-07 at 16 45 50" src="https://user-images.githubusercontent.com/11976836/33726845-23be6b2a-db6e-11e7-8d68-3eaf74d1897b.png">

[2017-12-07 16:46] #128 closed

[2017-12-08 13:38] 0crat commented on #128
Oops! Job `gh:yegor256/tacit#128` is not in scope.

[2017-12-08 14:38] 0crat commented on #128
Oops! There is no order for job `gh:yegor256/tacit#128`.

[2017-12-14 22:50] filfreire commented on #109
PR #131 was merged. Closing this issue.

[2017-12-14 22:50] #109 closed

[2017-12-15 19:02] 0crat commented on #109
Oops! There is no order for job `gh:yegor256/tacit#109`.

[2017-12-15 19:02] 0crat commented on #109
Oops! Job `gh:yegor256/tacit#109` is not in scope.

[2017-12-27 03:43] akshayvinchurkar1 commented on #103
@yegor256 so you want to float to right aside?

[2017-12-27 21:38] yegor256 commented on #103
@akshayvinchurkar1 yes, seems right to me, but the width should be set to the `<aside>` element, not height.

[2017-12-28 06:32] akshayvinchurkar1 commented on #103
width is 285px ok i remove the height and make a pull request

[2017-12-28 06:39] akshayvinchurkar1 commented on #103
![error](https://user-images.githubusercontent.com/29745555/34402504-f504f866-ebc7-11e7-96c4-ed9d2645079f.PNG)

i am facing this issue when i run grunt in terminal

[2017-12-28 12:53] kt3k commented on #103
Hello @akshayvinchurkar1
I updated `checkYear` task by #135. It doesn't depend on `xargs` command now and can pass on any platform.

[2018-01-04 17:57] yegor256 opened #140 "grunt doesn't update tacit.min.css"
`index.html` points to the CSS file `tacit.min.css`, which is absent in the repository. It has to be created by Grunt on every run. It actually has to be copied from `dist/tacit-css-0.0.0.min.css`. This is how it worked before, but now this mechanism is broken, for some reason. I can't debug the framework locally, since index.html points to the file that is absent in a local copy.

[2018-01-04 17:57] 0crat commented on #140
@filfreire please, pay attention to this issue

[2018-01-05 12:48] filfreire commented on #140
@yegor256 I'll fix it

[2018-01-20 10:08] filfreire commented on #140
@yegor256 it seems to be working according to documented procedure on [CONTRIBUTING.md](https://github.com/yegor256/tacit/blob/master/CONTRIBUTING.md) file

For example, I cloned a "clean" version of the repository, did
[code]

then did on a terminal window:
[code]
<img width="481" alt="terminal_2018-01-20 10-01-57 2x" src="https://user-images.githubusercontent.com/11976836/35182272-4ab21f92-fdc9-

[2018-01-22 21:57] yegor256 commented on #140
@filfreire hm... you are right. Can't understand why it didn't work for me earlier. Thanks!

[2018-01-22 21:58] 0crat commented on #140
Job `gh:yegor256/tacit#140` is not assigned, can't get start time

[2018-01-22 22:07] 0crat commented on #140
Job [#140](https://github.com/yegor256/tacit/issues/140) was not in scope

[2018-02-21 11:57] alex-semenyuk opened #143 "A small mistake with href in README"
Instead of

`<link rel="stylesheet" href="//cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-VERSION.min.css"/>`

should be

`<link rel="stylesheet" href="https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css-VERSION.min.css"/>`

[2018-02-21 11:58] 0crat commented on #143
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2018-02-23 00:29] filfreire commented on #143
@alex-semenyuk code is merged, you can close the issue.

[2018-02-23 07:48] #143 closed

[2018-02-24 08:56] alex-semenyuk opened #145 "CONTRIBUTING.md link is broken in README"
https://github.com/yegor256/tacit/blob/master/CONTRIBUTING.md doesn't exist. Need to remove link or add  proper CONTRIBUTING.md

[2018-02-24 08:56] 0crat commented on #145
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2018-02-24 14:39] filfreire commented on #145
@alex-semenyuk thanks for opening this issue. The file was removed in commit https://github.com/yegor256/tacit/commit/36853a2ed25051aea942b35f25e15f826976b9c5 made by @yegor256.

I opened PR #146 to tackle this.

/cc @yegor256

[2018-02-26 18:32] filfreire commented on #79
After some investigation, it seems the `page-break-*` rules don't work properly for Safari, in this case affecting the display of labels and inputs.

(source: https://stackoverflow.com/a/37604027)

There are a few bugs reported related to Webkit and `page-break-*` rules, example: https://bugs.webkit.org/show_bug.cgi?id=5097

Another way of creating the break after these elements were attempted, fo

[2018-02-26 18:36] filfreire commented on #80
@yegor256 I'm closing this issue, it no longer applies for latest version of Tacit

ScreenShot:
<img width="599" alt="screen shot 2018-02-26 at 18 35 50" src="https://user-images.githubusercontent.com/11976836/36688303-e7f6b962-1b23-11e8-95fb-436c743657e1.png">

[2018-02-26 18:36] #80 closed

[2018-02-26 18:39] filfreire commented on #77
@yegor256 was fixed in #106 and currently seems to be OK with the latest version. Closing this issue.

Screenshot:
<img width="984" alt="screen shot 2018-02-26 at 18 37 50" src="https://user-images.githubusercontent.com/11976836/36688391-370bd42e-1b24-11e8-9c2f-0e7cccb30d6b.png">

[2018-02-26 18:39] #77 closed

[2018-02-26 19:26] filfreire commented on #145
@alex-semenyuk PR #146 was merged, you can close this issue.

[2018-02-26 19:31] #145 closed

[2018-02-26 20:23] yegor256 commented on #79
@filfreire well, the page looks wrong in Safari. We have to find some solution. Can we?

[2018-03-15 08:18] yegor256 commented on #13
@filfreire where we are with his?

[2018-03-15 08:18] yegor256 commented on #18
@filfreire where we are with his?

[2018-03-15 08:19] yegor256 commented on #22
@filfreire where we are with his?

[2018-03-15 08:19] yegor256 commented on #22
@filfreire could you please check other tickets too? Having too old issues open in a repository is not a good idea. Let's go through all of them and make sure they either are not solvable or we solve them somehow.

[2018-03-16 08:23] filfreire commented on #22
@yegor256 agreed. BTW, I was also thinking we could do the same for Rultor. This issue, in particular, I believe we can close.

[2018-03-17 15:25] yegor256 commented on #22
@filfreire OK, closing.

[2018-03-17 15:25] #22 closed

[2018-03-17 15:40] 0crat commented on #22
The job is not in WBS, won't close the order

[2018-03-17 17:44] filfreire commented on #13
@yegor256

Currently on IE9
![ie9](https://user-images.githubusercontent.com/11976836/37558306-d50421c4-2a09-11e8-8c53-a84eb09c69ec.png)

The centering issue is fixed currently on Tacit `1.2.8`.
But, the size doesn't seem so. I've been searching and I believe we can try and workaround size with css scale:
[code]
[Source](https://stackoverflow.com/a/10415275/7468990)

In comparison to other IE brow

[2018-03-17 17:49] filfreire commented on #15
@yegor256 I believe we should try to use saucelabs

Can I take lead on this with the email and account (then share them in private w/ you)?

[2018-03-17 18:33] filfreire commented on #27
@yegor256, we can close this issue.

With regards to the user request of

We're already doing this each release, example:
https://github.com/yegor256/tacit/tree/1.2.8/dist

We could follow, for example, Bootstrap's aproach and also place the css results of compilation in a "master"-like branch:
https://github.com/twbs/bootstrap/tree/v4-dev/dist/css

But this violates the idea of the protected mast

[2018-03-17 18:44] filfreire commented on #62
@yegor256 I think the main purpose of this issue and usage of a CDN is done. I suggest we close this issue in particular and if @smartclash wishes, @smartclash can open an issue following-up comment https://github.com/yegor256/tacit/issues/62#issuecomment-297440921 with more detail and even open PRs.

[2018-03-17 18:47] filfreire commented on #18
@yegor256 I'll retest with different versions of older Android browser and update on current status.

[2018-03-17 19:16] filfreire commented on #18
@yegor256 I think we can close this issue. See below:

Android 2.3.3 default browser (this Android version is deprecated by Google)
![android_233_480_800_001](https://user-images.githubusercontent.com/11976836/37559089-ac098a4e-2a17-11e8-91fc-d9dbd29a2c43.png)

Android 4.0 default browser (this Android version is latest "suported" by Google)
![android_4_browser_480_800_001](https://user-images.git

[2018-03-18 08:13] smartclash commented on #62
Hey there @yegor256 and @filfreire,

Sorry I was off from this PR and failed to contribute. Well, idea of @filfreire is good. We can make up a issue in that comment and close this issue. Okay?

[2018-03-18 08:59] filfreire opened #147 "Tacit logo missing for Android 2.3.3 default browser"
How to reproduce:
On Android 2.3.3 default browser, visit yegor256.github.io/tacit/

Screenshot:
![android_233_480_800_002](https://user-images.githubusercontent.com/11976836/37564281-604f4512-2a8a-11e8-9546-9a8331a87af7.png)

EDIT: This could be a simple fix. Currently, the image being loaded is an SVG, and that browser version in particular could have an old version of Webkit that doesn't suppor

[2018-03-18 09:00] filfreire opened #148 "Tacit logo appears streched for Android 4.0 default browser"
How to reproduce:
On Android 4.0 default browser, visit yegor256.github.io/tacit/

Screenshot:
![android_4_browser_480_800_002](https://user-images.githubusercontent.com/11976836/37564288-c0d179d2-2a8a-11e8-8c89-4473c11a6f61.png)

[2018-03-18 09:01] filfreire commented on #147
@yegor256 please label this issue as bug.

[2018-03-18 09:01] filfreire commented on #148
@yegor256 please label this issue as bug.

[2018-03-19 17:09] yegor256 commented on #18
@filfreire thanks, closing!

[2018-03-19 17:09] #18 closed

[2018-03-19 17:26] 0crat commented on #18
The job is not in WBS, won't close the order

[2018-03-20 09:18] yegor256 commented on #27
@ylecuyer @filfreire that's right, closing

[2018-03-20 09:18] #27 closed

[2018-03-20 09:19] 0crat commented on #148
Job [#148](https://github.com/yegor256/tacit/issues/148) is now in scope, role is `DEV`

[2018-03-20 09:19] 0crat commented on #148
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2018-03-20 09:24] yegor256 commented on #15
@filfreire yes, please, go ahead

[2018-03-20 09:33] 0crat commented on #27
The job is not in WBS, won't close the order

[2018-03-20 18:19] 0crat commented on #147
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-20 18:19] 0crat commented on #147
Job [#147](https://github.com/yegor256/tacit/issues/147) is now in scope, role is `DEV`

[2018-03-20 18:19] 0crat commented on #147
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 points just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2018-04-12 01:35] 0crat commented on #148
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-12 04:36] 0crat commented on #147
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-14 20:29] filfreire commented on #148
@rultor release `1.2.9`

[2018-04-14 20:33] rultor commented on #148
@filfreire OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14311-381358273)

[2018-04-14 20:33] rultor commented on #148
@filfreire Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14311-381358273) (spent 23s)

[code]

[2018-04-14 20:34] filfreire commented on #148
@rultor release, tag is `1.2.9`

[2018-04-14 20:38] rultor commented on #148
@filfreire OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14311-381358548)

[2018-04-14 20:41] rultor commented on #148
@filfreire Done! FYI, the full log is [here](http://www.rultor.com/t/14311-381358548) (took me 3min)

[2018-04-14 22:50] #148 closed

[2018-04-14 22:51] 0crat commented on #148
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-14 23:52] 0crat commented on #148
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-15 00:53] 0crat commented on #148
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-15 01:53] 0crat commented on #148
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-15 02:54] 0crat commented on #148
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-15 03:55] 0crat commented on #148
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-15 04:56] 0crat commented on #148
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-15 05:56] 0crat commented on #148
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-15 07:13] 0crat commented on #148
The job [#148](https://github.com/yegor256/tacit/issues/148) is now out of scope

[2018-04-17 05:37] 0crat commented on #147
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-17 07:37] 0crat commented on #62
The job is not in WBS, won't close the order

[2018-04-22 07:36] 0crat commented on #147
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually or invite more people to the project, as explained in [§51](http://www.zerocracy.com/policy.html#51)

[2018-04-27 10:36] 0crat commented on #147
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.h

[2018-05-01 11:30] ms4720 opened #153 "Is there support for making drop down menus? Or how do I do it?"
Hello,

I love the idea of this project, just write html and it looks good.  Is there a way to do drop down menus?  they are a really basic UI element that I need and there are no examples I can find.

Thanks

[2018-05-01 11:30] 0crat commented on #153
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2018-05-01 11:30] 0crat commented on #153
@ms4720[/z](https://www.0crat.com/u/ms4720) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7BNDNSNR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-01 11:37] akshayvinchurkar commented on #153
@ms4720 hey tacit provide just style for the core tags of html. drop-down is not a tag you can use select tag instead

[2018-05-01 13:52] ms4720 commented on #153
I am a very ignorant person on the front end, how would I use select for navigation menus?  Ie pick this option and go to that page?

[2018-05-01 15:10] akshayvinchurkar commented on #153
ok then use bootstrap or foundation for that because tacit cant help you in this case

[2018-05-01 23:42] ms4720 commented on #153
Thanks

[2018-05-02 07:42] filfreire commented on #153
Hi @ms4720, with tacit you can do a navigation menu similar to what you'd find for example in [my homepage](http://filfreire.com) or other pages that use tacit:

Screenshot:
<img width="476" alt="screen shot 2018-05-02 at 08 40 54" src="https://user-images.githubusercontent.com/11976836/39511256-b6306182-4de4-11e8-8faa-ac16cb5dc6a1.png">

Code:
[code]

[2018-05-02 08:05] akshayvinchurkar commented on #153
@filfreire he want dropdown menu

[2018-05-02 10:42] ms4720 commented on #153
@filfreire that could work, click on nav and put the submenus underneath in another bar.  @akshayvinchurkar sorry for not having a good question, I really am pretty clueless here.

[2018-05-02 10:46] akshayvinchurkar commented on #153
@filfreire now i am also clueless here tacit has dropdowns?

[2018-05-02 15:17] ms4720 commented on #153
@akshayvinchurkar perhaps it can fake it. I will play and see. That basic nav tag bit of code would be nice in the demo page

[2018-05-02 21:36] 0crat commented on #147
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.h

[2018-05-03 01:58] ms4720 commented on #153
@akshayvinchurkar I understand the goal of tactic is to make html look good by default, I really like that goal.  The thing is you lose a lot of functionality that way and it would be nice to see workarounds for them, this is very useful to people like me who do not know frontend dev well if at all. Ie you can't have drop-down menus but you can nest nav tags and that might be good enough(even if i

[2018-05-03 04:38] akshayvinchurkar commented on #153
@yegor256  hey big brother take a look at this. can we implement that? i mean dropdown menus in tacit @ms4720 if he is ok with it we can take this as improvement.

[2018-05-03 12:06] ms4720 commented on #153
not drop down but this:
<nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/projects">projects</a></li>
      <li><a href="/talks">talks</a></li>
      <li><a href="/other-stuff">other stuff</a></li>
    </ul>
  </nav>

Where there is another nav section under it, I go to the talks page there is a specific talks nav bar under the main na

[2018-05-07 22:36] 0crat commented on #147
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.h

[2018-05-10 12:54] yegor256 commented on #153
@filfreire @ms4720 @akshayvinchurkar I think that drop-downs (and any other non-HTML5 elements) are out of scope. We are HTML5 strictly compliant. If HTML5 doesn't have it, we don't have it as well. If you need, there are many other libraries that you can use.

[2018-05-11 01:45] ms4720 commented on #153
@yegor256 I agree, I also think that much of the target audience is like me clueless about front-end development.  What I really need is some kind of menu system, could be a hack like nested/stacked nav sections ( I did not know the nav tag existed ).  If the demo was expanded with examples like "Fake menu system" people could see that and see workarounds that they could use.

[2018-05-11 04:34] akshayvinchurkar commented on #153
@ms4720 in this case try this its not build with tacit but it helps

https://codepen.io/andornagy/pen/xhiJH

[2018-05-11 05:06] ms4720 commented on #153
@akshayvinchurkar  thanks looks nice

[2018-05-12 23:37] 0crat commented on #147
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.h

[2018-05-18 01:37] 0crat commented on #147
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` are banned at [#147](https://github.com/yegor256/tacit/issues/147); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-05-23 02:36] 0crat commented on #147
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#147](https://github.com/yegor256/tacit/issues/147); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2018-07-18 19:26] filfreire opened #157 "Generate a new token for npmjs.com, to upload tacit-css during rultor release task"
Currently when releasing where getting this notice:

[code]
And the release of a new tag fails (example with latest attempt, tag `1.3.1`,  [here](https://github.com/yegor256/tacit/pull/156#issuecomment-405914400))

@yegor256 let's fix this, generating a new token and documenting the fix somewhere in the readme for any other times this may happen again.

[2018-07-23 17:40] filfreire opened #159 "Integrate with Automatic Dependency Updater"
Let's explore the usage of a service like https://renovatebot.com/ or https://greenkeeper.io/ which allow for a bot to submit PRs updating external dependencies.

[2018-07-23 17:43] filfreire commented on #157
@yegor256 can you document somewhere how you did the fix so we can close this issue?

[2018-07-24 06:31] yegor256 commented on #157
@filfreire well, the token is kept in my private file, which is taken by Rultor during deployment. Do we need to document that? It's already obvious in `.rultor.yml`: https://github.com/yegor256/tacit/blob/master/.rultor.yml#L3

[2018-07-26 19:14] filfreire commented on #157
@yegor256 I think it should be apparent somewhere for the future, but for now it's ok. Closing this issue.

[2018-07-26 19:14] #157 closed

[2018-07-26 19:29] 0crat commented on #157
Job `gh:yegor256/tacit#157` is not assigned, can't get performer

[2018-07-26 19:29] 0crat commented on #157
The job is not in WBS, won't close the order

[2018-08-01 07:44] filfreire opened #162 "Add a demo a nav menu on the example index.html page"
Let's add an example of  a navigation menu similar to what you'd find for example in [my homepage](http://filfreire.com) or other pages that use tacit:

Screenshot:
<img width="476" alt="screen shot 2018-05-02 at 08 40 54" src="https://user-images.githubusercontent.com/11976836/39511256-b6306182-4de4-11e8-8faa-ac16cb5dc6a1.png">

Example code:
[code]

(This is a follow-up on https://github.com/yeg

[2018-08-01 07:48] filfreire commented on #153
Hey @ms4720 I created issue https://github.com/yegor256/tacit/issues/162 to (in a way) follow-up on this issue. For actual dropdown menus there are many other libraries that you can use. Let me know if you'd feel it's important to add this info as a note on the README. Otherwise I'm closing the issue, ok? 👍

[2018-08-01 09:14] ms4720 commented on #153
I think a hacks section is a good thing here, stacked nav tags is a hack that I could live with.  Ie you can't have nested menus, but this looks close and is doable could be handy.   A short list of options that play well with tacit could also be handy for newcomers like me, if you really need a menu system these play nice with tacit.  With that said feel free to close the issue.

[2018-08-03 12:14] filfreire commented on #153
@ms4720 thanks!

[2018-08-03 12:14] #153 closed

[2018-08-03 12:14] 0crat commented on #153
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.28.14](https://github.com/zerocracy/farm): Issue: yegor256/tacit#153, Action: `closed`

[2018-09-01 08:10] filfreire opened #163 "Theming options are now external"
Goal: Create a distinction between "built with tacit" and "examples"

In an effort to keep Tacit small let's avoid tickets for different skins, that would make tacit more complex and less unique.
Let's keep it super simple and always with the same look-and-feel.
On the other hand, if you want something more custom — make it on top of Tacit, like for example:
https://github.com/Kimeiga/kacit

close

[2018-09-01 08:12] filfreire commented on #102
@tofran closing this issue in favour of #163
Feel free to contribute with new issues and pull requests 👍

/cc @yegor256

[2018-09-01 08:12] #102 closed

[2018-09-01 08:28] 0crat commented on #102
Job `gh:yegor256/tacit#102` is not assigned, can't get performer

[2018-09-01 11:10] filfreire commented on #163
@yegor256 PR is merged, closing this issue.

[2018-09-01 11:10] #163 closed

[2018-09-01 11:26] 0crat commented on #163
Job `gh:yegor256/tacit#163` is not assigned, can't get performer

[2018-09-01 21:06] filfreire commented on #15
@yegor256 status update on this issue: I submitted a request for opensource license to BrowserStack, via this form https://www.browserstack.com/contact#open-source, and now I'm waiting for their reply.

[2018-10-13 23:59] php-coder commented on #159
+ https://dependabot.com

[2018-10-14 08:44] 0crat commented on #162
Job `gh:yegor256/tacit#162` is not assigned, can't get performer

[2018-10-14 08:44] 0crat commented on #162
This job is not in scope

[2018-10-25 15:01] Alain-Christian opened #170 ""Download" Link on the Homepage LEads to a 404"
The link on the homepage is [https://yegor256.github.io/tacit/tacit-1.3.3.min.css](https://yegor256.github.io/tacit/tacit-1.3.3.min.css) but it results in a 404.

[2018-10-25 15:01] 0crat commented on #170
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2018-10-25 15:01] 0crat commented on #170
@alain-christian[/z](https://www.0crat.com/u/alain-christian) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7BNDNSNR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-27 04:49] Alain-Christian commented on #170
Uh, buddy, [you asked me](https://twitter.com/yegor256/status/1055425074449264640) to file this bug report. I'm doing this for **YOU**, not for me. I got what I needed. But your site looks unorganized with a dead link. That's on you, bro. 🙄

[2018-10-29 16:30] filfreire commented on #170
@Alain-Christian thanks for reporting this issue, I'll get to it ASAP.
And don't mind the comments by @0crat, it's a bot.

[2018-10-29 16:47] 0crat commented on #170
Are you speaking to me or about me [here](https://github.com/yegor256/tacit/issues/170#issuecomment-433979725); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-11-07 11:43] 0crat commented on #170
Job `gh:yegor256/tacit#170` is not assigned, can't get performer

[2018-11-07 11:45] 0crat commented on #170
This job is not in scope

[2018-12-01 17:58] filfreire commented on #147
Closing this issue, should be fixed after release of tacit `1.3.5`. Currently having trouble re-testing to see if the fix worked.

[2018-12-01 17:58] #147 closed

[2018-12-01 18:15] 0crat commented on #147
Job `gh:yegor256/tacit#147` is not assigned, can't get performer

[2018-12-01 18:16] 0crat commented on #147
The job [#147](https://github.com/yegor256/tacit/issues/147) is now out of scope

[2019-01-20 18:51] filfreire opened #176 "Warning during npm install: license should be a valid SPDX license expression"
We have a warning being triggered on `npm install` command:

[code]

This was seen happening on a Mac OSX 64 bit, node version `v10.9.0`.

[2019-01-20 18:59] filfreire opened #177 "Merging a PR with rultor is failing"
At one point the @rultor `merge` command seems to be failing for tacit repository:

[code]

Full log:
[code]

[2019-01-20 19:00] filfreire commented on #177
@yegor256 any idea if this is an issue with `rultor` itself or with `pdd`?

[2019-01-21 15:18] filfreire commented on #177
found a similar issue, with solution:
https://github.com/Homebrew/brew/pull/5503

[2019-01-23 23:05] filfreire commented on #177
fixed in commit https://github.com/yegor256/tacit/commit/dc9f2cb890bfc7fc3cb442087e7a2aa3f57d9240

[2019-01-23 23:05] #177 closed

[2019-01-23 23:11] filfreire commented on #176
fixed in @alex-semenyuk commit, closing this issue
@alex-semenyuk thanks 👍

[2019-01-23 23:11] #176 closed

[2019-01-23 23:32] 0crat commented on #177
This job is not in scope

[2019-01-23 23:34] 0crat commented on #176
Job `gh:yegor256/tacit#176` is not assigned, can't get performer

[2019-01-23 23:36] 0crat commented on #176
This job is not in scope

[2019-01-24 07:46] filfreire opened #180 "Issue loading the placeholder image with an adblocker active"
It seems that the placeholder image on the example `index.html` file doesn't load if we have an adblocker enabled:
<img width="1031" alt="screen shot 2019-01-24 at 08 45 34" src="https://user-images.githubusercontent.com/11976836/51662552-74766000-1fb4-11e9-9d0a-117b6c33b215.png">

[2019-01-29 10:51] teriyakigod2 commented on #78
I don't think it's a FF issue, because in the current `index.html` version "Your age" is just a plain text, so it can't be considered as a flexbox item.

[2019-01-29 11:26] teriyakigod2 commented on #180
Could you please specify your environment (browser, adblock plugin), because with Adblock Plus for FF works well.
![image](https://user-images.githubusercontent.com/27350480/51905229-bdbe1980-23d1-11e9-8c34-048c5025fc3a.png)

![image](https://user-images.githubusercontent.com/27350480/51905263-d2021680-23d1-11e9-89b8-6df21c39abc6.png)

[2019-01-29 22:24] filfreire commented on #78
@teriyakigod2, true, notice the difference then between Chrome and FF:

<img width="1920" alt="chrome" src="https://user-images.githubusercontent.com/11976836/51944678-f3d4bb00-241c-11e9-8cb9-96c5cabfe958.png">
<img width="1920" alt="firefox" src="https://user-images.githubusercontent.com/11976836/51944679-f3d4bb00-241c-11e9-91ae-452f8ee46f1e.png">

I suggest we need to apply some fix on the index

[2019-01-29 23:00] filfreire opened #182 "Define better style for "big tables" for non-mobile screens (desktop/laptop)"
Following #89 , let's define a proper style for when the screen is not necessarily small, but the table overflows the main `<section>` element (like on 0crat's board page)

<img width="1451" alt="screen shot 2019-01-29 at 23 59 40" src="https://user-images.githubusercontent.com/11976836/51946491-fbe32980-2421-11e9-8869-33312b75440e.png">

/cc @teriyakigod2

[2019-01-29 23:00] filfreire commented on #89
@teriyakigod2 let's divide this into 2 smaller issues.
1 - When the screen is small (mobile screen) - we follow the approach we can see http://www.zold.io/health.html -> we'll do this in the context of this ticket (#89)

2- When the screen is not necessarily small, but the table overflows the main `<section>` element (like on 0crat's board page), let's do it in another issue (#182)

[2019-01-29 23:05] #83 closed

[2019-01-29 23:05] #82 closed

[2019-01-29 23:07] filfreire commented on #50
Let's close this issue following up @yegor256's comment:
https://github.com/yegor256/tacit/issues/50#issuecomment-185988543

[2019-01-29 23:07] #50 closed

[2019-01-29 23:08] filfreire opened #183 "Make IE9 checkbox bigger"
Let's follow-up on https://github.com/yegor256/tacit/issues/13#issuecomment-373939012:

Currently on IE9
![ie9](https://user-images.githubusercontent.com/11976836/37558306-d50421c4-2a09-11e8-8c53-a84eb09c69ec.png)

The centering issue is fixed currently on Tacit `1.2.8`.
But, the size doesn't seem so. I've been searching and I believe we can try and workaround size with css scale:
[code]
[Source](

[2019-01-29 23:09] filfreire commented on #13
@jehna closing this issue since it's half resolved. Created issue #183 to follow-up on fixing the size of the checkbox.

[2019-01-29 23:09] #13 closed

[2019-01-29 23:17] filfreire commented on #104
Closing this issue, following @yegor256 's comment https://github.com/yegor256/tacit/issues/104#issuecomment-341096097

Let's follow this approach: we can setup each example on it's separate repository, and add a link to that repository on tacit's README, maybe on an examples section.

For instance, something like https://github.com/filfreire/demo-tacit could then be added under the [Usecases sect

[2019-01-29 23:17] #104 closed

[2019-01-29 23:32] 0crat commented on #83
Job `gh:yegor256/tacit#83` is not assigned, can't get performer

[2019-01-29 23:34] 0crat commented on #82
Job `gh:yegor256/tacit#82` is not assigned, can't get performer

[2019-01-29 23:35] 0crat commented on #50
Job `gh:yegor256/tacit#50` is not assigned, can't get performer

[2019-01-29 23:35] 0crat commented on #83
This job is not in scope

[2019-01-29 23:35] 0crat commented on #82
This job is not in scope

[2019-01-29 23:35] 0crat commented on #13
Job `gh:yegor256/tacit#13` is not assigned, can't get performer

[2019-01-29 23:35] 0crat commented on #78
Job [#78](https://github.com/yegor256/tacit/issues/78) is now in scope, role is `DEV`

[2019-01-29 23:35] 0crat commented on #79
Job [#79](https://github.com/yegor256/tacit/issues/79) is now in scope, role is `DEV`

[2019-01-29 23:35] 0crat commented on #81
Job [#81](https://github.com/yegor256/tacit/issues/81) is now in scope, role is `DEV`

[2019-01-29 23:35] 0crat commented on #94
Job [#94](https://github.com/yegor256/tacit/issues/94) is now in scope, role is `DEV`

[2019-01-29 23:35] 0crat commented on #183
Job [#183](https://github.com/yegor256/tacit/issues/183) is now in scope, role is `DEV`

[2019-01-29 23:35] 0crat commented on #182
Job [#182](https://github.com/yegor256/tacit/issues/182) is now in scope, role is `DEV`

[2019-01-29 23:35] 0crat commented on #50
This job is not in scope

[2019-01-29 23:35] 0crat commented on #13
This job is not in scope

[2019-01-29 23:35] 0crat commented on #104
Job `gh:yegor256/tacit#104` is not assigned, can't get performer

[2019-01-29 23:43] 0crat commented on #104
This job is not in scope

[2019-01-29 23:47] 0crat commented on #78
The job [#78](https://github.com/yegor256/tacit/issues/78) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C7BNDNSNR/784b068a-6b9c-44ac-b2ab-76dd7469a32d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-01-29 23:47] 0crat commented on #79
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#79](https://github.com/yegor256/tacit/issues/79); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-01-29 23:47] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-01-29 23:50] 0crat commented on #94
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#94](https://github.com/yegor256/tacit/issues/94); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-01-29 23:50] 0crat commented on #183
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#183](https://github.com/yegor256/tacit/issues/183); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-01-29 23:50] 0crat commented on #182
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#182](https://github.com/yegor256/tacit/issues/182); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-01-29 23:52] 0crat commented on #78
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-01-29 23:52] 0crat commented on #79
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-01-29 23:52] 0crat commented on #81
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-01-29 23:52] 0crat commented on #94
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-01-29 23:52] 0crat commented on #183
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-01-29 23:52] 0crat commented on #182
The job [#182](https://github.com/yegor256/tacit/issues/182) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C7BNDNSNR/3ad945ef-4fa2-4c7f-8658-cd4a7d3bedb3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-01-29 23:52] 0crat commented on #182
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-02-03 23:39] 0crat commented on #78
@filfreire[/z](https://www.0crat.com/u/filfreire) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-04 00:40] 0crat commented on #79
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#79](https://github.com/yegor256/tacit/issues/79); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-02-04 00:45] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-02-04 00:45] 0crat commented on #94
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#94](https://github.com/yegor256/tacit/issues/94); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-02-04 00:45] 0crat commented on #183
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#183](https://github.com/yegor256/tacit/issues/183); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-02-04 00:45] 0crat commented on #182
@filfreire[/z](https://www.0crat.com/u/filfreire) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-07 15:05] filfreire commented on #78
Closing this issue.  `<label>` element problem fixed with pr #184

[2019-02-07 15:05] #78 closed

[2019-02-07 16:01] 0crat commented on #78
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#78](https://github.com/yegor256/tacit/issues/78); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-02-07 16:06] 0crat commented on #78
The job [#78](https://github.com/yegor256/tacit/issues/78) is now out of scope

[2019-02-07 16:07] 0crat commented on #78
Order was finished: +30 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-02-09 01:43] 0crat commented on #79
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#79](https://github.com/yegor256/tacit/issues/79); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-02-09 01:50] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-02-09 01:51] 0crat commented on #94
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#94](https://github.com/yegor256/tacit/issues/94); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-02-09 01:51] 0crat commented on #183
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#183](https://github.com/yegor256/tacit/issues/183); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-02-14 02:39] 0crat commented on #79
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#79](https://github.com/yegor256/tacit/issues/79); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-02-14 02:39] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-02-14 02:39] 0crat commented on #94
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#94](https://github.com/yegor256/tacit/issues/94); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-02-14 02:41] 0crat commented on #183
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#183](https://github.com/yegor256/tacit/issues/183); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-02-19 03:40] 0crat commented on #183
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#183](https://github.com/yegor256/tacit/issues/183); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-02-19 03:40] 0crat commented on #79
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#79](https://github.com/yegor256/tacit/issues/79); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-02-19 03:40] 0crat commented on #94
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#94](https://github.com/yegor256/tacit/issues/94); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-02-23 08:15] filfreire opened #187 "Fix Travis build warnings"
Currently Travis is returning the following warnings:
[code]

[2019-02-23 08:16] 0crat commented on #187
Job [#187](https://github.com/yegor256/tacit/issues/187) is now in scope, role is `DEV`

[2019-02-23 08:23] filfreire commented on #91
@rultor release, tag is `1.4.0`

[2019-02-23 08:23] 0crat commented on #187
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-02-23 08:24] rultor commented on #91
@filfreire OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17997-466628591)

[2019-02-23 08:27] rultor commented on #91
@filfreire Done! FYI, the full log is [here](http://www.rultor.com/t/17997-466628591) (took me 3min)

[2019-02-23 08:42] 0crat commented on #187
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#187](https://github.com/yegor256/tacit/issues/187); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-02-23 08:46] #91 closed

[2019-02-23 09:03] 0crat commented on #91
Job `gh:yegor256/tacit#91` is not assigned, can't get performer

[2019-02-23 09:03] 0crat commented on #91
This job is not in scope

[2019-02-24 04:37] 0crat commented on #79
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#79](https://github.com/yegor256/tacit/issues/79); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-02-24 04:42] 0crat commented on #183
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#183](https://github.com/yegor256/tacit/issues/183); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-02-28 10:01] yegor256 opened #188 "TABLEs are not responsive"
Try to create a table with many columns and see how it behaves when the width of the screen is small. I believe, it should convert itself to a non-TABLE mode.

[2019-02-28 10:01] 0crat commented on #188
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2019-02-28 10:27] 0crat commented on #187
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#187](https://github.com/yegor256/tacit/issues/187); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-02-28 14:00] filfreire commented on #188
@yegor256, thanks, I'll look into this.

[2019-02-28 14:03] yegor256 commented on #188
@filfreire see how it's done here https://github.com/zold-io/zold.github.io/blob/master/sass/health.scss
and works here: http://www.zold.io/health.html

[2019-02-28 21:44] filfreire commented on #188
@rultor release, tag is `1.4.1`

[2019-02-28 21:47] rultor commented on #188
@filfreire OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18082-468450644)

[2019-02-28 21:51] rultor commented on #188
@filfreire Done! FYI, the full log is [here](http://www.rultor.com/t/18082-468450644) (took me 3min)

[2019-02-28 22:15] filfreire commented on #89
Closing this issue, implemented in PR #189

[2019-02-28 22:15] #89 closed

[2019-02-28 22:15] filfreire commented on #182
Closing this issue, implemented in PR #189

[2019-02-28 22:15] #182 closed

[2019-02-28 22:16] filfreire commented on #180
Closing this issue, since it's unrelated to Tacit per-se, and depends on user specific browser config.

[2019-02-28 22:16] #180 closed

[2019-02-28 22:18] filfreire commented on #188
@yegor256 finished and released an improvement with PR #189 , also contributed a fix on https://github.com/zerocracy/farm/pull/1914 .

I'm marking this issue as closed. Feel free to re-open (or open a new one) in case there's need for improvements.

[2019-02-28 22:18] #188 closed

[2019-02-28 22:27] 0crat commented on #188
Job [#188](https://github.com/yegor256/tacit/issues/188) is now in scope, role is `DEV`

[2019-02-28 22:40] 0crat commented on #188
The job [#188](https://github.com/yegor256/tacit/issues/188) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C7BNDNSNR/827ae760-a984-4762-9a8c-690cc5a0f219); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-02-28 22:53] 0crat commented on #89
Job `gh:yegor256/tacit#89` is not assigned, can't get performer

[2019-02-28 22:53] 0crat commented on #180
Job `gh:yegor256/tacit#180` is not assigned, can't get performer

[2019-02-28 22:53] 0crat commented on #188
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-02-28 22:58] 0crat commented on #180
This job is not in scope

[2019-02-28 22:58] 0crat commented on #89
This job is not in scope

[2019-02-28 22:58] 0crat commented on #182
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#182](https://github.com/yegor256/tacit/issues/182); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-02-28 22:58] 0crat commented on #188
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-28 22:58] 0crat commented on #182
The job [#182](https://github.com/yegor256/tacit/issues/182) is now out of scope

[2019-02-28 22:59] 0crat commented on #182
Order was finished: +30 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-02-28 22:59] 0crat commented on #188
The job [#188](https://github.com/yegor256/tacit/issues/188) is now out of scope

[2019-02-28 22:59] 0crat commented on #188
Order was finished: +35 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-03-01 05:40] 0crat commented on #79
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#79](https://github.com/yegor256/tacit/issues/79); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-03-01 05:41] 0crat commented on #183
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#183](https://github.com/yegor256/tacit/issues/183); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-01 14:24] S1M0NH opened #191 "Responsive table request"
Hi. I think your solution for responsive tables is brilliant! One concern though is having table rows as inline blocks.

In the case below, it's no problem as the links are obvious, however, would it be possible to add some sort of divider to make it more obvious when there are more columns? Maybe the pipe character or something? Or maybe some more space between rows? Thanks.

p.s. Would it be pos

[2019-03-01 14:25] 0crat commented on #191
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2019-03-01 14:25] 0crat commented on #191
@s1m0nh[/z](https://www.0crat.com/u/s1m0nh) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7BNDNSNR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-01 15:29] wholegroup opened #192 "Default font-size in tables is too small"
After PR #189 was merged the table default font-size became too small. Why is it 65%, not i.e. 80%?
![image](https://user-images.githubusercontent.com/553191/53647638-696bbb00-3c57-11e9-90ac-d5b6c4096a08.png)

As I understand this size was chosen because of https://github.com/zerocracy/farm/issues/1778, but it's bad approach since Tacit is public project and IMHO it doesn't look well. And It still

[2019-03-01 15:29] 0crat commented on #192
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2019-03-01 15:29] 0crat commented on #192
@wholegroup[/z](https://www.0crat.com/u/wholegroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7BNDNSNR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-03 18:04] S1M0NH opened #193 "Responsive tables - @media should be screen"
Hello. I've found another problem. I believe the conversion from table to not a table should only be for screen. It looks ridiculous when printing.

So far, I've had to change the font size back to 100%, change the tr to inline-block, and change all the media queries from all to screen.

I used to really like tacit, but breaking tables isn't cool.

[2019-03-03 18:04] 0crat commented on #193
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2019-03-03 18:04] 0crat commented on #193
@s1m0nh[/z](https://www.0crat.com/u/s1m0nh) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7BNDNSNR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-04 16:43] filfreire commented on #192
@wholegroup you're right, it's not the best solution.
I'll try to figure out a way to properly fix it. Meanwhile if you see a good way to fix it, kindly contribute with a pull-request.

[2019-03-04 16:45] filfreire commented on #193
@S1M0NH I would recomend using version [1.4.0](https://github.com/yegor256/tacit/releases/tag/1.4.0) until this can be properly addressed and fixed.

I'll look into reversing the changes.

Do you have a public example that I can use on how it's affecting your your tables?

[2019-03-04 16:47] filfreire commented on #193
You can easily point to `1.4.0` via this link:

https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.4.0.min.css

[2019-03-04 16:48] filfreire commented on #191
@S1M0NH seems like a fair idea:
- Add a divider
- Add the first row

I'll look into it. If you have a solution figured out already, feel free to submit a pull-request.

Regarding the other issue, I strongly using version [1.4.0](https://github.com/yegor256/tacit/releases/tag/1.4.0) until this can be properly addressed and fixed.

BTW, You can easily point to 1.4.0 via this link:
https://cdn.jsdeli

[2019-03-04 16:48] S1M0NH commented on #193
Thanks filreire. I don't really have anything public but I can email you some examples if that helps?

[2019-03-04 16:49] filfreire commented on #193
@S1M0NH sure, plain HTML of the table will do.

[2019-03-04 16:51] filfreire opened #194 "CDN link seems broken for some variations"
It seems for some versions of the CDN link, we're not pointing to the latest released version, example:

https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css

Points to:

[code]

While https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit.min.css

Points to:

[code]

[2019-03-04 16:52] 0crat commented on #191
Job [#191](https://github.com/yegor256/tacit/issues/191) is now in scope, role is `DEV`

[2019-03-04 16:53] 0crat commented on #192
Job [#192](https://github.com/yegor256/tacit/issues/192) is now in scope, role is `DEV`

[2019-03-04 16:53] 0crat commented on #191
Thanks for your contribution, @s1m0nh[/z](https://www.0crat.com/u/s1m0nh)! If you would be a member of [the project](https://www.0crat.com/p/C7BNDNSNR), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-03-04 16:53] 0crat commented on #193
Job [#193](https://github.com/yegor256/tacit/issues/193) is now in scope, role is `DEV`

[2019-03-04 16:55] 0crat commented on #193
Thanks for your contribution, @s1m0nh[/z](https://www.0crat.com/u/s1m0nh)! If you would be a member of [the project](https://www.0crat.com/p/C7BNDNSNR), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-03-04 16:55] 0crat commented on #194
Job [#194](https://github.com/yegor256/tacit/issues/194) is now in scope, role is `DEV`

[2019-03-04 17:00] 0crat commented on #192
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @wholegroup[/z](https://www.0crat.com/u/wholegroup)

[2019-03-04 17:01] 0crat commented on #194
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-03-04 17:03] S1M0NH commented on #193
filfreire, here are my changes if that helps:

`/*# sourceMappingURL=tacit-css-1.4.1.min.css.map
2019-03-01: changed table font-size to 100%
2019-03-03: changed media queries to screen only
table tr{display:inline-block;margin:10.8px 0} -- change to display:block?
{table thead{display:inline-block} -- so the table header shows
*/
input,textarea,select,button,option,html,body{font-family:system-ui,

[2019-03-04 17:06] filfreire opened #195 "npm test is not failing CI builds"
Example:
https://travis-ci.org/yegor256/tacit/builds/500324652

Failing checks:
[code]

Did not fail the build.

[2019-03-04 17:08] 0crat commented on #195
Job [#195](https://github.com/yegor256/tacit/issues/195) is now in scope, role is `DEV`

[2019-03-04 17:08] filfreire commented on #195
Also same happens for Appveyor,
https://ci.appveyor.com/project/yegor256/tacit/builds/22747531

[2019-03-04 17:14] 0crat commented on #195
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2019-03-04 17:50] 0crat commented on #194
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#194](https://github.com/yegor256/tacit/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-04 17:50] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-04 21:04] MartinKolarik commented on #194
@filfreire please check now. We had some `@branch` URLs incorrectly cached at the CDN level for longer than they were supposed to be.

[2019-03-05 15:33] 0crat commented on #187
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#187](https://github.com/yegor256/tacit/issues/187); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-06 06:41] 0crat commented on #79
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#79](https://github.com/yegor256/tacit/issues/79); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-03-06 06:41] 0crat commented on #183
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#183](https://github.com/yegor256/tacit/issues/183); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-07 11:04] filfreire commented on #192
@wholegroup with the latest release, `1.4.2`, font sizes should be back to normal.

[2019-03-07 11:05] filfreire commented on #193
@S1M0NH with the latest release, `1.4.2`, font sizes should at least be back to normal.

[2019-03-08 08:38] merobero commented on #188
https://github.com/yegor256/elegantobjects.github.io/issues/3#issuecomment-470848926

[2019-03-09 18:47] 0crat commented on #194
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#194](https://github.com/yegor256/tacit/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-09 18:47] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-10 15:40] 0crat commented on #187
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#187](https://github.com/yegor256/tacit/issues/187); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-11 07:58] 0crat commented on #183
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#183](https://github.com/yegor256/tacit/issues/183); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-11 07:58] 0crat commented on #79
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#79](https://github.com/yegor256/tacit/issues/79); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-03-14 19:43] 0crat commented on #194
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#194](https://github.com/yegor256/tacit/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-14 19:44] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-15 16:39] 0crat commented on #187
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#187](https://github.com/yegor256/tacit/issues/187); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-18 20:18] 0crat commented on #191
The job [#191](https://github.com/yegor256/tacit/issues/191) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C7BNDNSNR/86b9d9fd-9469-4346-9f3b-4e0992bd97ee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-03-18 20:20] 0crat commented on #192
The job [#192](https://github.com/yegor256/tacit/issues/192) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C7BNDNSNR/ca2244f1-d7bd-4b9b-87d4-c11cc85df82c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-03-18 20:23] 0crat commented on #193
The job [#193](https://github.com/yegor256/tacit/issues/193) assigned to @filfreire[/z](https://www.0crat.com/u/filfreire), here is [why](https://www.0crat.com/footprint/C7BNDNSNR/33b2fcb3-0aba-41cf-8211-427eac36ef25); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-03-19 18:49] dz-s commented on #103
@filfreire Is that issue still relevant?

[2019-03-19 20:40] 0crat commented on #194
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#194](https://github.com/yegor256/tacit/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-19 20:40] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-20 17:40] 0crat commented on #187
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#187](https://github.com/yegor256/tacit/issues/187); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-23 19:41] dz-s opened #197 "Style autofix tool"
To avoid warnings by people who knows nothing about alphabet, I suggest to write grunt-task/small tool wrapped with task, that will sort out all properties in css in alphabetical order.

moreover, we can add indentation check and fix etc.

[2019-03-23 19:41] 0crat commented on #197
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2019-03-23 19:41] 0crat commented on #197
@dz-s[/z](https://www.0crat.com/u/dz-s) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7BNDNSNR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-23 20:48] 0crat commented on #192
@filfreire[/z](https://www.0crat.com/u/filfreire) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-23 20:48] 0crat commented on #193
@filfreire[/z](https://www.0crat.com/u/filfreire) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-23 20:48] 0crat commented on #191
@filfreire[/z](https://www.0crat.com/u/filfreire) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-03-24 21:42] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-24 21:42] 0crat commented on #194
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#194](https://github.com/yegor256/tacit/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-25 18:42] 0crat commented on #187
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#187](https://github.com/yegor256/tacit/issues/187); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-29 22:41] 0crat commented on #194
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#194](https://github.com/yegor256/tacit/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-29 22:41] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-30 15:21] yegor256 opened #198 "tacit-colors.css"
How about we add a new CSS to this framework. It will contain properly defined colors, instead of default HTML ones, which are ugly. Something like this:

[code]

Later, it will be easy to just do:

[code]

We should find a good looking palette somewhere and use/copy it.

[2019-03-30 15:21] 0crat commented on #198
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2019-03-30 15:25] yegor256 commented on #198
@filfreire it seems it already exists: https://htmlcolorcodes.com/color-names/ Sorry :)

[2019-03-30 15:25] #198 closed

[2019-03-30 15:47] 0crat commented on #198
Job `gh:yegor256/tacit#198` is not assigned, can't get performer

[2019-03-30 15:48] 0crat commented on #198
This job is not in scope

[2019-03-30 15:53] filfreire commented on #198
@yegor256 I forgive you.

[2019-03-30 15:56] filfreire commented on #197
@dz-s seems like a nice idea, let's do it.
Basically you're sugesting to add a task for the developer to optionaly fix the lint error when css properties are not, for example, in alphabetical order, correct?

[2019-03-30 19:45] 0crat commented on #187
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#187](https://github.com/yegor256/tacit/issues/187); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-03-30 23:29] dz-s commented on #197
@filfreire yep

[2019-03-31 19:25] henrikj242 opened #199 "Border on tables..?"
Hi Yegor,
thanks for providing this - it's just my cup of tea :)

I'm curious about one thing though: How do I get vertical borders on tables?

/Henrik

[2019-03-31 19:25] 0crat commented on #199
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2019-03-31 19:25] 0crat commented on #199
@henrikj242[/z](https://www.0crat.com/u/henrikj242) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7BNDNSNR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-03 23:43] 0crat commented on #194
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#194](https://github.com/yegor256/tacit/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-04-03 23:43] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-04-04 22:41] 0crat commented on #187
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#187](https://github.com/yegor256/tacit/issues/187); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-04-09 00:42] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-04-09 00:42] 0crat commented on #194
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#194](https://github.com/yegor256/tacit/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-04-14 01:41] 0crat commented on #194
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#194](https://github.com/yegor256/tacit/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-04-14 01:44] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-04-19 02:42] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-04-19 02:42] 0crat commented on #194
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#194](https://github.com/yegor256/tacit/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-04-24 03:40] 0crat commented on #194
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#194](https://github.com/yegor256/tacit/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-04-25 17:15] CoderSquirrel commented on #81
its seems preety identical to https://github.com/philipwalton/flexbugs#flexbug-9

can be 'handled' by adding divs, e.g 9.2.b  link in the page,

and done something like

`form > fieldset > div > div` instead of using classes like in the example

that bad part would be change all the:
[code]

into
[code]

What you guys think about?

ps. i preferred to come there discuss instead of 'start doing'cuz

[2019-04-26 09:17] filfreire commented on #81
@CoderSquirrel could be, thanks for sharing this 👍

[2019-04-29 04:41] 0crat commented on #194
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#194](https://github.com/yegor256/tacit/issues/194); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-04-30 17:44] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-05-01 17:48] yegor256 commented on #199
@henrikj242 you have to do it manually, I believe. Just add `border-right: 1px solid gray` or something similar to your `td`

[2019-05-01 17:48] yegor256 commented on #197
@filfreire how is this related to Tacit?

[2019-05-05 18:42] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-05-10 19:40] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-05-15 20:43] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-05-20 21:40] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-05-25 22:42] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-05-30 23:45] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-06-05 00:42] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-06-10 01:41] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-06-15 02:42] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-06-20 03:42] 0crat commented on #81
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#81](https://github.com/yegor256/tacit/issues/81); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as i

[2019-08-12 18:26] vbrandl opened #204 "Input borders not shown when used with Elm"
Hey Yegor,

I started another service and decided to use Tacit again. I'm using the latest minified version of Tacit.

I have a mostly static HTML page with some JavaScript (generated with Elm) thrown in: https://github.com/vbrandl/yagcdn/blob/master/frontend/template.html

The JavaScript part is only responsible for generating an `input` field, parse the input and update another field if the inpu

[2019-08-12 18:26] 0crat commented on #204
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2019-08-12 18:26] 0crat commented on #204
@vbrandl[/z](https://www.0crat.com/u/vbrandl) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7BNDNSNR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-09-28 21:45] alex-semenyuk commented on #195
There is a problem with this in grunt-sass-lint. We can use --max-warnings=0 for this purpose from sass-lint, but there is a bug https://github.com/sasstools/grunt-sass-lint/issues/25 and we can't pass this param. Option set severity for each rule to 2, which means to recognize them as error, looks not good.

[2019-09-30 09:35] EternityForest opened #206 "Buttons are very confusing"
With no strong background or border, buttons can be a bit hard to notice. I tried adding a 1px border, and I think that looks pretty nice. Could we add something like this?

[2019-09-30 09:35] 0crat commented on #206
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2019-09-30 09:35] 0crat commented on #206
@eternityforest[/z](https://www.0crat.com/u/eternityforest) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7BNDNSNR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-02 11:39] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-10-07 13:03] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-10-12 14:06] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-10-17 15:46] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-10-22 16:07] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-10-27 05:42] yegor256 commented on #206
@EternityForest you may submit a pull request and let us take a look

[2019-10-27 05:43] yegor256 commented on #204
@vbrandl you should use:

[code]

Without `type` there is no border.

[2019-10-27 05:43] #204 closed

[2019-10-27 05:52] yegor256 commented on #197
@filfreire I'd suggest to close this. It's not related to Tacit anyhow.

[2019-10-27 15:29] vbrandl commented on #204
Thank you.

[2019-10-28 07:21] 0crat commented on #204
This job is not in scope

[2019-10-28 07:25] 0crat commented on #204
Job `gh:yegor256/tacit#204` is not assigned, can't get performer

[2019-10-28 15:28] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-11-02 13:50] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-11-07 14:44] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-11-12 15:42] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-11-17 16:51] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2019-11-21 19:42] dapi opened #207 "Custom Elements are losing borders"
Use any kind of custom elements are losing its borders (ever use shadow DOM for styling) when linking tacit.css

For example, add `<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css" />` to this sample - https://javascript.info/shadow-dom-style

[2019-11-21 19:43] 0crat commented on #207
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2019-11-21 19:43] 0crat commented on #207
@dapi[/z](https://www.0crat.com/u/dapi) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C7BNDNSNR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-11-22 17:53] 0crat commented on #195
@filfreire[/z](https://www.0crat.com/u/filfreire) everybody who has role `DEV` is banned at [#195](https://github.com/yegor256/tacit/issues/195); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2020-05-23 02:26] tmpfs opened #210 "Duplicate body declarations in the output"
Just playing around with Tacit and I notice that certain styles are repeated in the generated output.

I downloaded the min.css version (current version linked in the README) and unminified it and see:

[code]

Repeated several times. I looked at the min.css file to check if the problem is with the unminifier and the duplications appear to exist there.

I am going to fix it manually for what I nee

[2020-05-23 02:26] 0crat commented on #210
@filfreire[/z](https://www.0crat.com/u/filfreire) please, pay attention to this issue

[2020-11-27 13:57] yegor256 opened #211 "fiedset rendering is broken in latest Chrome"
Open this page: https://yegor256.github.io/tacit/

The `fieldset` part is not rendering elements vertically.

[2020-12-06 16:25] yegor256 commented on #211
@filfreire let's release please?

[2020-12-06 16:28] filfreire commented on #211
@rultor release, tag is `1.5.2`

[2020-12-06 16:29] rultor commented on #211
@filfreire OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23829-739526737)

[2020-12-06 16:31] rultor commented on #211
@filfreire Done! FYI, the full log is [here](https://www.rultor.com/t/23829-739526737) (took me 2min)

[2020-12-06 16:39] filfreire commented on #211
@yegor256 done. Seems OK in Firefox, but still broken in Chrome and Chromium-based Edge. Example:

![tacit](https://user-images.githubusercontent.com/11976836/101286308-045cd600-37ea-11eb-8d50-43c00dacc63c.jpg)

[2021-01-09 12:15] #211 closed

[2021-01-09 12:17] filfreire commented on #211
@rultor release, tag is `1.5.3`

[2021-01-09 12:19] rultor commented on #211
@filfreire OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23829-757141118)

[2021-01-09 12:21] rultor commented on #211
@filfreire Done! FYI, the full log is [here](https://www.rultor.com/t/23829-757141118) (took me 2min)

[2021-01-09 12:33] filfreire commented on #211
@yegor256 you should see it fixed now on https://yegor256.github.io/tacit/ after release [1.5.3](https://github.com/yegor256/tacit/releases/tag/1.5.3)

[2021-01-09 12:34] 0crat commented on #211
Job `gh:yegor256/tacit#211` is not assigned, can't get performer

[2021-03-03 09:59] thibaudcolas opened #216 "font-size declarations don’t support text resizing (WCAG 2.0 SC 1.4.4)"
Testing Tacit on the [online demo](https://yegor256.github.io/tacit/), I noticed font-size declarations are set in `px`. This is problematic for people who rely on browsers’ capability to enlarge text. As-is, Tacit is unusable on sites that must comply with the accessibility standard WCAG 2.0 AA (or WCAG 2.1 AA), as a failure of [SC 1.4.4 Resize Text](https://www.w3.org/WAI/WCAG21/Understanding/re

[2021-03-03 09:59] 0crat commented on #216
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.55.1](https://github.com/zerocracy/farm): Issue: yegor256/tacit#216, Action: `opened`

[2021-03-03 10:09] filfreire commented on #216
Hey @thibaudcolas this is indeed an important issue, thank you!

My guess is we should follow the second path you mentioned:

Feel free to contribute a pull-request for this, if not, I can give a go at it later.

[2021-03-03 10:17] thibaudcolas commented on #216
Hey @filfreire, good to hear from you. I’d be keen to make that change, will get on with it later today. Looking at the code further, I think I’d propose making "vertical rhythm" spacing (`margin-bottom` mainly) based on the `rem` unit, and other spacing based on pixels. I’ll make a first draft and we can revise if needed.

Do you have thoughts on what the two units should be called?

[2021-03-05 07:36] #216 closed

[2021-03-05 07:40] filfreire commented on #216
@rultor release, tag is `1.5.4`

[2021-03-05 07:41] rultor commented on #216
@filfreire OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24229-791224147)

[2021-03-05 07:45] rultor commented on #216
@filfreire Done! FYI, the full log is [here](https://www.rultor.com/t/24229-791224147) (took me 3min)

[2021-03-05 08:06] filfreire commented on #216
@thibaudcolas thank you for reporting this and for the pull-request. If all went well, your change should be now under latest version  (`1.5.4`)

[2021-03-05 08:19] 0crat commented on #216
Job `gh:yegor256/tacit#216` is not assigned, can't get performer

[2021-03-06 00:05] filfreire commented on #210
@rultor release, tag is `1.5.5`

[2021-03-06 00:07] rultor commented on #210
@filfreire OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24233-791801228)

[2021-03-06 00:09] #197 closed

[2021-03-06 00:10] #103 closed

[2021-03-06 00:12] rultor commented on #210
@filfreire Done! FYI, the full log is [here](https://www.rultor.com/t/24233-791801228) (took me 4min)

[2021-03-06 00:58] 0crat commented on #197
Job `gh:yegor256/tacit#197` is not assigned, can't get performer

[2021-03-06 01:12] 0crat commented on #103
Job `gh:yegor256/tacit#103` is not assigned, can't get performer

[2021-03-06 01:19] filfreire commented on #210
@tmpfs as of tacit version `1.5.5` this issue should be fixed, thank you for reporting it! Closing this issue.

@yegor256 after adding a purging css step and removing duplicate rules, tacit minified version is now about 82% of its original size 😄

![tacit](https://user-images.githubusercontent.com/11976836/110190186-5aa9d700-7e22-11eb-9660-1c49d22b4d57.jpg)

[2021-03-06 01:19] #210 closed

[2021-03-06 02:07] 0crat commented on #210
Job `gh:yegor256/tacit#210` is not assigned, can't get performer

[2021-03-07 07:30] yegor256 commented on #210
@filfreire that's awesome, thanks!

[2021-03-07 10:48] yegor256 opened #219 "add version to CSS"
Now it's not clear what is the exact Tacit version delivered to the browser. Would be convenient to put a small comment to our final CSS:

[code]

It should be present both in full CSS and in the minimized one.

[2021-03-07 10:48] yegor256 commented on #219
@filfreire what do you think?

[2021-03-07 10:48] 0crat commented on #219
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.55.1](https://github.com/zerocracy/farm): Issue: yegor256/tacit#219, Action: `opened`

[2021-03-07 12:55] filfreire commented on #219
@yegor256 I agree, what we had previously got removed with the `css_purge` task that removed duplicate css rules. I will try to submit a PR to fix this later.

[2021-03-07 12:58] yegor256 commented on #219
@filfreire we just need to see the version, that's it